@font-face {
    font-family: SanomatSansVN-Light;
    src: url("../../css/vietjet/font/SanomatSansVN-Light.otf");
}

@font-face {
    font-family: SanomatSansVN-Medium;
    src: url("../../css/vietjet/font/SanomatSansVN-Medium.otf");
}

%relative {
    position: relative;
    width: 100%;
    height: 100%;
}
%img {
    width: 100%;
    display: block;
}

.vct-wrapper {
    @extend %relative;
    overflow: hidden;

    .swiper-container {
        @extend %relative;
        .swiper-wrapper {
            @extend %relative;
            .swiper-slide {
                @extend %relative;
                height: 100vh;

                .section-inner {
                    @extend %relative;
                }

                &#slide1 {
                    .section-inner {
                        .section-bg {
                            @extend %relative;
                            background-image: url("../../img/vietjet/slide1-bg.png");
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }
                        .section-content {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 90%;
                            height: 90vh;
                            box-sizing: border-box;
                            z-index: 1;
                            background-color: rgba(3, 5, 4, 0.24);

                            .section-content-inner {
                                display: block;
                                padding: 30px;
                                margin: 30px;
                                border: 1px solid #fff;
                                position: absolute;
                                height: auto;
                                bottom: 0;
                                top: 0;
                                left: 0;
                                right: 0;

                                .s1-content-title {
                                    p {
                                        color: #fff;
                                        font-family: SanomatSansVN-Light;

                                        &.label-year {
                                            font-size: 16px;
                                            line-height: 1;
                                            margin-bottom: 25px;
                                        }
                                        &.sapo {
                                            font-size: 20px;
                                            line-height: 1.4;
                                            max-width: 20vw;
                                            margin-bottom: 20px;
                                        }
                                    }
                                    h1 {
                                        color: #fff;
                                        font-family: SanomatSansVN-Light;
                                        font-size: 50px;
                                        line-height: 1.2;
                                        max-width: 40vw;
                                        margin-bottom: 20px;
                                    }
                                }
                                .s1-content-credit {
                                    position: absolute;
                                    bottom: 20px;
                                    left: 30px;
                                    width: calc(100% - 60px);

                                    .credit {
                                        float: left;
                                        ul {
                                            display: flex;
                                            li {
                                                font-family: SanomatSansVN-Light;
                                                border-right: 1px solid #fff;
                                                color: #fff;
                                                padding: 0 20px;
                                                font-size: 16px;

                                                &:first-child {
                                                    padding: 0 20px 0 0;
                                                }
                                                &:last-child {
                                                    border-right: none;
                                                }
                                            }
                                        }
                                    }
                                    .deco-bot {
                                        float: right;
                                        max-width: 150px;

                                        img {
                                            @extend %img;
                                        }
                                    }
                                }
                                .s1-content-deco {
                                    background-image: url("../../img/vietjet/slide1-deco-mid.png");
                                    background-repeat: no-repeat;
                                    height: 90%;
                                    position: absolute;
                                    width: 30%;
                                    top: 50%;
                                    left: 50%;
                                    -webkit-transform: translate(-50%, -50%);
                                    transform: translate(-50%, -50%);
                                    background-size: 100% 100%;
                                }
                            }
                        }
                    }
                }
                &#slide2 {
                    .section-inner {
                        .section-bg {
                            @extend %relative;
                            background-image: url("../../img/vietjet/slide2-bg.png");
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        }
                        .section-content {
                            .s2-content-title {
                                position: absolute;
                                top: 10%;
                                left: 30%;
                                z-index: 1;

                                h3 {
                                    font-family: SanomatSansVN-Light;
                                    font-size: 60px;
                                    text-align: right;
                                    line-height: 1.2;
                                    color: #0c0e0f;
                                }
                            }
                            .s2-content-text {
                                position: absolute;
                                top: 25%;
                                right: 5%;
                                z-index: 1;
                                max-width: 40vw;

                                img {
                                    @extend %img;
                                }
                            }
                        }
                    }
                }
                &#slide3 {
                    .section-inner {
                        .s3-gr1 {
                            @extend %relative;
                            display: flex;
                            .gr1-left {
                                flex: 0 0 25%;
                                img {
                                    @extend %img;
                                    height: 100%;
                                }
                            }
                            .gr1-right {
                                flex: 0 0 75%;
                                .s3-gr2 {
                                    @extend %relative;
                                    display: inline-flex;
                                    flex-direction: column;

                                    .gr2-top {
                                        flex: 0 0 46%;
                                        overflow: hidden;

                                        img {
                                            @extend %img;
                                            height: 100%;
                                        }
                                    }
                                    .gr2-bot {
                                        flex: 0 0 54%;
                                        overflow: hidden;

                                        .s3-gr3 {
                                            @extend %relative;
                                            display: inline-flex;
                                            .gr3-left {
                                                flex: 0 0 65%;
                                                position: relative;

                                                .gr3-left-text {
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    padding: 30px;

                                                    .gr3-title {
                                                        display: flex;
                                                        flex-direction: column;
                                                        align-items: center;

                                                        p {
                                                            color: #030504;
                                                            font-family: SanomatSansVN-Light;
                                                            font-size: 60px;
                                                            line-height: 1.1;
                                                            padding-right: 100px;
                                                            position: relative;
                                                            margin-bottom: 0;

                                                            &:first-child {
                                                                padding-left: 30px;
                                                            }
                                                            &:last-child {
                                                                padding-left: 150px;
                                                                padding-right: 0;
                                                            }
                                                            .index {
                                                                color: #dd001b;
                                                                font-size: 20px;
                                                                position: absolute;
                                                                top: -5px;
                                                                left: 0;
                                                            }
                                                        }
                                                    }
                                                    .line {
                                                        padding: 25px 0;

                                                        img {
                                                            @extend %img;
                                                        }
                                                    }
                                                    p {
                                                        color: #030504;
                                                        font-family: SanomatSansVN-Light;
                                                        font-size: 20px;
                                                        line-height: 1.3;
                                                        text-align: justify;
                                                        margin-bottom: 0;
                                                    }
                                                }
                                            }
                                            .gr3-right {
                                                flex: 0 0 35%;

                                                img {
                                                    @extend %img;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &#slide4 {
                    .section-inner {
                        .s4-gr1 {
                            @extend %relative;
                            display: flex;

                            .s4-gr1-left {
                                position: relative;
                                flex: 0 0 75%;
                                display: inline-flex;
                                z-index: 1;

                                .s4-gr1-map {
                                    flex: 0 0 55%;
                                    position: relative;

                                    .map-img {
                                        position: absolute;
                                        height: 90%;
                                        width: 40vw;
                                        top: 50%;
                                        right: -15%;
                                        transform: translate(0, -50%);

                                        img {
                                            @extend %img;
                                            height: 100%;
                                        }
                                    }
                                    .map-des {
                                        position: absolute;
                                        max-width: 65%;
                                        top: 10%;
                                        left: 5%;

                                        h3 {
                                            display: inline-block;
                                            float: right;
                                            font-family: SanomatSansVN-Medium;
                                            padding-bottom: 20px;
                                            font-size: 24px;
                                            line-height: 1.1;
                                            margin-bottom: 0;
                                        }
                                        p {
                                            clear: both;
                                            text-align: right;
                                            padding-top: 20px;
                                            border-top: 1px dashed #000000;
                                            line-height: 1.2;
                                            margin-bottom: 0;

                                            .underline {
                                                font-family: SanomatSansVN-Medium;
                                            }
                                        }
                                    }
                                }
                                .s4-gr1-list {
                                    flex: 0 0 45%;
                                    background-image: url("../../img/vietjet/gr-cta.png");
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    background-position: top right;

                                    ul {
                                        display: flex;
                                        flex-direction: column;
                                        width: 100%;
                                        height: 100%;
                                        justify-content: center;

                                        li {
                                            flex: 0 0 20%;
                                            margin: 0 auto 20px;
                                            max-width: 20vw;

                                            &:nth-child(3) {
                                                margin-bottom: 0;
                                            }
                                            &:last-child {
                                                margin-bottom: 0;
                                            }

                                            .cta-item {
                                                .cta-img {
                                                    margin-bottom: 20px;
                                                    img {
                                                        width: 100%;
                                                        height: 100%;
                                                        display: block;
                                                    }
                                                }
                                                .cta-text {
                                                    p {
                                                        text-align: justify;
                                                        font-family: SanomatSansVN-Light;
                                                        font-size: 16px;
                                                        line-height: 1.2;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .s4-gr1-right {
                                flex: 0 0 30%;
                                @extend %relative;
                                margin-left: -5%;

                                img {
                                    @extend %img;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                &#slide5 {
                    .section-inner {
                        .s5-gr {
                            @extend %relative;
                            display: flex;

                            .s5-item {
                                flex: 0 0 30%;
                                padding-left: 3%;

                                img {
                                    @extend %img;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                &#slide6 {
                    .section-inner {
                        .s6-gr1 {
                            @extend %relative;
                            max-width: 90%;
                            margin-left: auto;

                            .s6-deco-bg1 {
                                position: absolute;
                                height: 500px;
                                width: 500px;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                background-image: url("../../img/vietjet/s6-bg.png");
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                z-index: 0;
                            }

                            .s6-gr1-top {
                                position: relative;
                                z-index: 1;
                                display: inline-flex;
                                max-height: 47vh;
                                height: 500px;
                                width: 100%;
                                align-items: center;
                                padding-bottom: 30px;

                                .s6-deco-bg2 {
                                    position: absolute;
                                    height: 300px;
                                    width: 500px;
                                    top: 0;
                                    right: 0;
                                    background-image: url("../../img/vietjet/s6-bg2.png");
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    z-index: 0;
                                }
                                .s6-gr1-title {
                                    h3 {
                                        display: inline-block;
                                        float: right;
                                        font-family: SanomatSansVN-Medium;
                                        padding-bottom: 20px;
                                        font-size: 24px;
                                        line-height: 1.1;
                                        margin-bottom: 0;
                                    }

                                    p {
                                        clear: both;
                                        text-align: right;
                                        padding-top: 20px;
                                        border-top: 1px dashed #000000;
                                        line-height: 1.2;
                                        margin-bottom: 0;
                                        max-width: 30vw;
                                        padding-right: 100px;
                                    }
                                    .s6-tags {
                                        max-width: 20vw;
                                        margin: 0 auto;
                                        margin-top: 30px;

                                        img {
                                            @extend %img;
                                        }
                                    }
                                }
                                .s6-deco-bg3 {
                                    position: absolute;
                                    height: 300px;
                                    width: 500px;
                                    max-width: 20vw;
                                    max-height: 6vw;
                                    top: 25vh;
                                    right: 200px;
                                    background-image: url("../../img/vietjet/s6-tag2.png");
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    z-index: 0;
                                }
                            }
                            .s6-gr1-bot {
                                position: relative;
                                z-index: 1;
                                display: inline-flex;
                                max-height: 47vh;
                                justify-content: flex-end;

                                .s6-bot-item {
                                    padding: 0 20px;

                                    &.s6-item1 {
                                        flex: 0 0 40%;
                                        max-width: 35vw;
                                    }
                                    &.s6-item2 {
                                        flex: 0 0 10%;

                                        img {
                                            height: auto;
                                        }
                                        p {
                                            font-size: 14px;
                                            font-family: SanomatSansVN-Light;
                                            text-align: justify;
                                            padding-top: 20px;
                                            line-height: 1.2;
                                        }
                                    }
                                    &.s6-item3 {
                                        flex: 0 0 30%;
                                        max-width: 30vw;
                                    }

                                    img {
                                        @extend %img;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                &#slide7 {
                    .section-inner {
                        .s7-gr1 {
                            @extend %relative;
                            display: flex;

                            .s7-gr1-left {
                                flex: 0 0 60%;
                                .s7-gr1-top {
                                    max-height: 50vh;
                                    img {
                                        display: block;
                                        max-height: 50vh;
                                    }
                                }
                                .s7-gr1-bot {
                                    max-height: 50vh;
                                    position: relative;
                                    img {
                                        display: block;
                                        max-height: 50vh;
                                    }
                                }
                            }
                            .s7-gr1-right {
                                flex: 0 0 40%;
                                position: relative;
                                .s7-gr-img {
                                    position: absolute;
                                    top: 40%;
                                    left: -10vw;
                                    transform: translateY(-50%);
                                    height: 80vh;
                                    width: 40vw;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                &#slide8 {
                    .section-inner {
                        .s8-gr1 {
                            display: flex;
                            .s8-gr1-left {
                                flex: 0 0 60%;
                                position: relative;
                                height: 100vh;

                                .video-content {
                                    position: absolute;
                                    width: 65vw;
                                    margin-left: -10vw;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    padding: 30px;
                                    background-image: url("../../img/vietjet/video-bg.png");
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    background-position: center;

                                    video {
                                        width: 100%;
                                        height: 100%;
                                        display: block;
                                    }
                                }
                            }
                            .s8-gr1-right {
                                flex: 0 0 40%;
                                position: relative;
                                height: 100vh;

                                .s8-text-content {
                                    position: relative;
                                    padding-right: 30px;
                                    top: 50%;
                                    transform: translateY(-50%);

                                    img {
                                        width: 90%;
                                        display: block;
                                    }
                                    .s8-text {
                                        padding-left: 30px;
                                        margin-top: -60px;
                                        .s8-text-title {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            width: 85%;

                                            p {
                                                color: #030504;
                                                font-family: SanomatSansVN-Light;
                                                font-size: 60px;
                                                line-height: 1.1;
                                                padding-right: 100px;
                                                position: relative;
                                                margin-bottom: 0;

                                                &:first-child {
                                                    padding-left: 30px;
                                                }
                                                &:last-child {
                                                    padding-left: 110px;
                                                    padding-right: 0;
                                                    margin-bottom: 30px;
                                                }
                                                .index {
                                                    color: #dd001b;
                                                    font-size: 20px;
                                                    position: absolute;
                                                    top: -5px;
                                                    left: 0;
                                                }
                                            }
                                        }
                                        .des {
                                            color: #030504;
                                            font-family: SanomatSansVN-Light;
                                            font-size: 20px;
                                            line-height: 1.3;
                                            text-align: justify;
                                            margin-bottom: 0;
                                            width: 80%;
                                            margin: 0 auto;
                                        }
                                        .line {
                                            padding: 20px 0;
                                            width: 80%;
                                            margin: 0 auto;

                                            img {
                                                @extend %img;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &#slide9 {
                    .section-inner {
                        .s9-bg {
                            @extend %relative;

                            img {
                                @extend %img;
                            }
                        }
                        .s9-overlay {
                            position: absolute;
                            max-width: 30vw;
                            top: 10%;
                            right: 5%;

                            img {
                                @extend %img;
                            }
                        }
                    }
                }
                &#slide10 {
                    .section-inner {
                        .s10-bg {
                            @extend %relative;
                            margin-left: -25vw;

                            img {
                                height: 100%;
                                display: block;
                                width: 90%;
                            }
                        }
                        .s10-overlay {
                            position: absolute;
                            &.s10-overlay1 {
                                top: 10%;
                                left: 5%;
                                max-width: 20vw;

                                img {
                                    @extend %img;
                                }
                            }
                            &.s10-overlay2 {
                                bottom: 10%;
                                right: 10%;
                                max-width: 20vw;

                                img {
                                    @extend %img;
                                }
                            }
                        }
                    }
                }
                &#slide11 {
                    .section-inner {
                        max-height: 100vh;

                        .s11-flex-group {
                            max-height: 50vh;
                            display: inline-flex;
                            width: 100%;
                            .flex-group-item {
                                flex: 0 0 50%;
                                height: 50vh;

                                .s11-gr-img {
                                    img {
                                        max-width: 100%;
                                        max-height: 40vh;
                                        display: block;
                                        position: relative;
                                        object-fit: contain;
                                        margin: 0 auto;
                                    }
                                }
                                .s11-gr-text {
                                    margin-top: -5vh;
                                    position: relative;
                                    padding-left: 5vw;
                                    display: flex;
                                    align-items: flex-end;

                                    img {
                                        max-width: 20vw;
                                    }
                                    p {
                                        font-family: SanomatSansVN-Light;
                                        font-size: 14px;
                                        color: #030504;
                                        margin-bottom: 0 !important;
                                        line-height: 1;
                                        padding-left: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
                &#slide12 {
                    .section-inner {
                        .s12-gr {
                            height: 100vh;
                            display: flex;
                            padding-left: 30px;
                            .s12-gr1 {
                                max-width: 25vw;
                                height: 95vh;
                                top: 50%;
                                margin-right: 15px;
                                transform: translateY(-50%);
                                position: relative;
                                background-image: url("../../img/vietjet/s12-gr1-bg.png");
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                box-sizing: border-box;
                                padding: 0 30px;
                                display: inline-flex;
                                align-items: flex-end;

                                .s12-gr1-inner {
                                    position: relative;
                                    margin-bottom: 20px;

                                    img {
                                        display: block;
                                        max-width: 10vw;
                                        margin-bottom: 30px;
                                        margin-left: auto;
                                    }
                                    .s12-title {
                                        color: #fff;
                                        font-size: 40px;
                                        line-height: 1.2;

                                        &.bold {
                                            font-family: SanomatSansVN-Medium;
                                        }
                                        &.light {
                                            font-family: SanomatSansVN-Light;
                                        }
                                        &:last-of-type {
                                            margin-bottom: 30px;
                                        }
                                    }
                                    p {
                                        font-family: SanomatSansVN-Light;
                                        font-size: 16px;
                                        line-height: 1.3;
                                        margin-bottom: 20px !important;
                                        color: #fff;
                                    }
                                }
                            }
                            .s12-gr2 {
                                height: 95vh;
                                position: relative;
                                transform: translateY(-50%);
                                top: 50%;
                                z-index: 1;
                                max-width: 55vw;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                }
                            }
                            .s12-gr3 {
                                position: absolute;
                                top: 10px;
                                right: 5%;
                                width: 35vw;
                                height: auto;
                                z-index: 0;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
                }
                &#slide13 {
                    .section-inner {
                        .s13-gr {
                            max-width: 50vw;
                            position: absolute;
                            top: 50%;
                            left: 40%;
                            transform: translate(-50%, -50%);
                            .s13-gr-title {
                                display: flex;
                                margin-bottom: 30px;
                                align-items: center;
                                margin-left: -16vw;

                                .s13-gr-titlel {
                                    position: relative;
                                    padding-right: 30px;
                                    margin-right: 30px;
                                    p {
                                        font-size: 50px;
                                        font-family: SanomatSansVN-Light;
                                        line-height: 1.2;
                                        color: #030504;
                                        margin-bottom: 0 !important;

                                        .index {
                                            color: #dd001b;
                                            font-size: 20px;
                                            position: absolute;
                                            top: -5px;
                                            left: -30px;
                                        }
                                    }

                                    &::after {
                                        content: "";
                                        width: 1px;
                                        height: 70%;
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        transform: translateY(-50%);
                                        background-color: #dd001b;
                                    }
                                }
                                .s13-gr-titler {
                                    p {
                                        font-size: 60px;
                                        font-family: SanomatSansVN-Light;
                                        line-height: 1.3;
                                        color: #030504;
                                        margin-bottom: 0 !important;
                                    }
                                }
                            }
                            .s13-gr-text {
                                padding-left: 40px;
                                p {
                                    font-family: SanomatSansVN-Light;
                                    font-size: 20px;
                                    line-height: 1.2;
                                    margin-bottom: 20px;
                                    color: #4d4e4e;
                                }
                            }
                        }
                    }
                }
                &#slide14 {
                    .section-inner {
                        .s14-gr {
                            @extend %relative;
                            margin-left: -25vw;

                            .s14-bg {
                                position: relative;
                                height: 90vh;
                                width: auto;
                                top: 50%;
                                transform: translateY(-50%);
                                box-sizing: border-box;

                                img {
                                    width: auto;
                                    height: 100%;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                            .s14-overlay {
                                position: absolute;
                                bottom: 10%;
                                left: 0;
                                max-width: 25vw;
                                height: auto;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
                }
                &#slide15 {
                    .section-inner {
                        .s15-gr {
                            .s15-bg {
                                @extend %relative;
                                box-sizing: border-box;

                                img {
                                    @extend %img;
                                }
                            }
                            .s15-overlay {
                                position: absolute;
                                height: 90vh;
                                width: auto;
                                top: 50%;
                                left: -30vw;
                                transform: translateY(-50%);
                                box-sizing: border-box;
                                z-index: 1;

                                img {
                                    width: auto;
                                    height: 100%;
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
                &#slide16 {
                    .section-inner {

                    }
                }
            }
        }
    }
}
