@font-face {
  font-family: MagazineGrotesque;
  src: url("./MagazineGrotesque.ttf");
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url(".../../../../../src/css/font/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url(".../../../../../src/css/font/SFProDisplay-Regular.ttf");
}

%MagazineGrotesque {
  font-family: MagazineGrotesque;
}

%relative {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vct-wrapper {
  @extend %relative;
  overflow: hidden;

  // info tag
  .vct-info-tag {
    position: relative;

    .vct-info-tag-logo {
      position: fixed;
      top: 30%;
      right: 0;
      color: #fff;
      z-index: 3;
      transition: all 0.5s;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background-color: #ffe527;
      background-image: url(../../../src/img/modal-icon.svg);
      background-size: 25px 25px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: #D1A300;
      }
    }

    .vct-info-content {
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 3;
      visibility: hidden;

      .info-content-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        height: 330px;
        background-color: rgba(0, 0, 0, 1);
        transform: translate(-50%, -50%);
        z-index: 3;
        opacity: 0;
        transition: all 0.5s;
        visibility: hidden;

        .modal-top {
          position: relative;
          width: 100%;
          height: auto;

          .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            padding: 10px;
            cursor: pointer;

            svg {
              fill: #fff;
            }
          }

          .modal-title {
            padding: 40px 20px 30px;

            h3 {
              text-align: center;
              color: #FED440;
              font-size: 28px;
              font-family: SFProDisplay-Bold;
              line-height: 1;
              margin-bottom: 0;
              position: relative;
              
              span {
                display: block;
                font-size: 18px;
                margin-top: 15px;
                line-height: 1;
                font-family: SFProDisplay-Regular;
              }

              &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width: 70%;
                background-color: #FED440;
              }
            }
          }
        }

        .modal-bot {
          position: relative;

          .modal-text {
            text-align: center;
            margin-top: 30px;

            p {
              font-size: 20px;
              color: #fff;
              font-family: SFProDisplay-Regular;
              font-weight: 300;
              margin-bottom: 20px;
              display: flex;
              justify-content: center;

              &:last-child {
                margin-bottom: 0;
              }

              span {
                font-size: 20px;
                color: #fff;
                font-family: SFProDisplay-Regular;
                font-weight: 300;
                margin-left: 5px;
                text-align: left;
                line-height: 1.1;
              }
            }
          }
        }
      }
    }
  }

  //   Fixed header
  .vct-header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 21px;
    z-index: 1;

    .header-item {
      margin: 0 30px;

      &.header-logo {
        position: absolute;
        top: 0;
        left: 0;

        a {
          display: inline-block;

          img {
            width: initial;
          }
        }
      }

      &.header-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 85px;
        height: 85px;
        margin: 0 30px;

        .menu-animation-container {
          transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1);
          animation-name: animation_1;
          animation-duration: 10s;
          animation-iteration-count: infinite;
          animation-direction: normal;
          animation-fill-mode: both;
          @extend %relative;

          .menu-text-shape {
            img {
              width: initial;
            }
          }
        }

        .menu-btn {
          @extend %position-center;
          cursor: pointer;

          span {
            display: block;
            width: 31px;
            height: 3px;
            background-color: #000;
            margin: 5px 0 0;

            &:first-child {
              margin: 2px 0 0;
            }
          }
        }
      }

      &.hidden {
        display: none;
      }
    }
  }

  //   Banner
  .vct-banner {
    @extend %relative;
    width: 100vw;
    height: 150vh;
    overflow: hidden;

    // banner-video-bg
    .banner-bg__video-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;

      .video-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
          position: fixed;
          top: -5vw;
          left: -10vw;
          width: 110vw;
          height: 75vw;
        }

        iframe {
          position: fixed;
          top: -5vw;
          left: -10vw;
          width: 110vw;
          height: 75vw;
          transition: opacity 0.5s ease-in-out 1s;
          opacity: 0;
        }
      }
    }

    .overlay-items {
      @extend %relative;

      // banner overlay text
      .banner__overlay-text {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .overlay-text {
          position: relative;
          width: 163px;
          height: 163px;
          margin-right: 25px;
          pointer-events: none;

          .text-content {
            position: absolute;
          }

          &.text1 {}

          &.text2 {
            width: 150px;
          }

          &.text3 {
            width: 178px;
          }

          &.text4 {
            width: 38px;
          }

          &.text5 {
            margin-right: 0;
          }
        }
      }

      // banner-overlay widget
      .overlay_widget {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50%;

        .overlay_scroll-desc {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);

          p {
            @extend %MagazineGrotesque;
            font-size: 30px;
            font-weight: 700;
            margin-right: 5px;
            color: #fff;
          }
        }

        .overlay_social-widget {
          position: absolute;
          bottom: 10px;
          right: 3%;
          // width: 200px;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          p {
            font-size: 20px;
            font-weight: 700;
            margin-right: 5px;
          }

          .widget-link {
            margin: 0 5px;

            &:last-child {
              width: 34px;
              height: 37px;

              img {
                width: 100%;
              }
            }
          }
        }

        .overlay_text-fade {
          position: absolute;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%);

          p {
            @extend %MagazineGrotesque;
            color: #000000;
            font-size: 59px;
            line-height: 74px;
          }
        }
      }
    }

    .banner_after-bg {
      position: absolute;
      background-color: rgb(38, 84, 237);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  // Section
  .section {
    @extend %relative;
    background-color: #fff;

    .section-inner {
      .section-overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1;

        .section-overlay-item {
          position: absolute;

          &.index {
            top: 30px;
            left: 70px;

            p {
              @extend %MagazineGrotesque;
              color: #000000;
              line-height: 30px;
              font-size: 24px;
              text-transform: uppercase;

              span {
                color: #f7d600;
              }
            }
          }

          &.name {
            top: 105px;
            left: -26px;
            transform: rotate(-90deg);

            p {
              text-transform: uppercase;
              color: rgb(255, 255, 255);
              letter-spacing: 0px;
              font-weight: 600;
              line-height: 30px;
              font-size: 24px;
              white-space: pre-wrap;
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: black;
            }
          }
        }
      }

      .section-content {
        @extend %relative;
        width: 100%;
        height: 100vh;
      }
    }

    &.section1 {
      height: 120vh;
      background-color: rgb(38, 84, 237);
      margin-top: calc(-2vh + 10px);

      .section-content {
        .content-center {
          position: relative;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 55vw;
          max-width: 650px;

          p {
            @extend %MagazineGrotesque;
            font-size: 55px;
            line-height: 64px;
            color: #000000;
          }
        }
      }

      .content-column {
        position: relative;
        left: 43%;
        display: flex;
        margin-top: 100px;

        p {
          max-width: 240px;
          color: #fff;
          font-size: 20px;
          line-height: 28px;
          margin: 0 20px;
        }
      }
    }

    &.section2 {
      height: 100vh;
      background-color: rgb(219, 226, 230);

      .section-inner {
        .section-overlay {

          .section-overlay-item {

            &.shape {
              position: absolute;
              top: 65%;
              left: 75%;
              animation-name: animation_7;
              animation-duration: 2.201s;
              animation-iteration-count: infinite;
              animation-direction: alternate;
              animation-fill-mode: both;
              animation-play-state: running;
            }
          }
        }

        .section-content {

          .section-content-animated {
            position: absolute;
            width: 100%;
            height: 100%;

            &.content-animated1 {
              #bg-video {
                width: 140%;
                height: 100%;
                display: block;
              }

              svg {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0; // needed for FF, Safari, Edge
                height: 100%;

                text {
                  @extend %MagazineGrotesque;
                  font-weight: 700;
                  text-transform: uppercase;
                  font-size: 30vw;
                }

                rect {
                  fill: #fff;
                }
              }

              svg>rect {
                -webkit-mask: url(#mask);
                mask: url(#mask);
              }
            }

            &.content-animated2 {
              width: auto;
              height: auto;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              overflow: hidden;

              .content-slide {
                display: flex;
                align-items: center;
                justify-content: center;

                .content-slide__text {
                  margin-left: -50px;

                  p {
                    color: #dbe2e6;
                    @extend %MagazineGrotesque;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 3.45vw;
                    letter-spacing: 0px;
                    line-height: 1.1;
                    text-align: start;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                    padding-top: 0px;
                    padding-right: 0px;
                    padding-bottom: 0px;
                    padding-left: 0px;
                    -webkit-text-fill-color: #dbe2e6;
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                  }
                }

                img {
                  margin-top: -70px;
                }
              }
            }
          }
        }
      }
    }

    &.section3 {
      height: 100vh;
      background-color: rgb(219, 226, 230);

      .section-inner {
        .section-overlay {}

        .section-content {
          .s3-content {
            width: 60vw;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            top: 55%;
            transform: translateY(-50%);

            .s3-content-left {
              max-width: 245px;

              p {
                font-size: 22px;
                margin-bottom: 30px;
                color: #000;
                line-height: 1.3;
              }
            }

            .s3-content-right {
              .s3-img {
                width: initial;
                margin-top: 4vw;
              }

              .bg-circle {
                position: absolute;
                z-index: -1;
                top: -10%;
                right: -20%;

              }
            }
          }
        }
      }

      &.fixed {
        .section-inner {
          .section-overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: auto;
          }
        }
      }
    }

    &.section4 {
      height: 100vh;
      background-color: rgb(219, 226, 230);
      // overflow: hidden;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.shape {
              transform: rotateZ(-40deg);
              top: -10px;
              left: 15%;
              z-index: -1;
            }
          }
        }

        .section-content {
          .section-title {
            padding-top: 20vh;
            text-align: center;
            margin-bottom: 70px;

            h3 {
              @extend %MagazineGrotesque;
              font-size: 3.5vw;
              line-height: 1.2;
              font-weight: 400;
              color: #000;
            }
          }

          .section-content__hover {
            width: 60vw;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;


            .reveal-hover-item {
              margin: 15px 15px 0;
              min-width: 400px;

              .item {
                display: none;

                .item-img {
                  max-width: 400px;
                  margin-bottom: 30px;

                  img {
                    width: 100%;
                  }
                }

                .item-content {
                  p {
                    line-height: 25px;
                    font-size: 20px;
                    white-space: inherit;
                    padding-right: 16px;
                    color: #000000;
                    font-weight: 400;
                    max-width: 350px;
                    margin-bottom: 0;


                    &.item-percent {
                      padding-left: 0 !important;
                      max-width: 400px;
                      line-height: 71px;
                      font-size: 57px;
                      color: #2654ed;
                      font-weight: 700;
                      @extend %MagazineGrotesque;
                    }


                  }
                }

                &.active {
                  display: block;
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(8) {
                  .item-content {
                    width: 400px;

                    p {
                      &.item-percent {
                        font-size: 35px;
                        line-height: 1.2;
                        margin-bottom: 30px;
                      }

                      span {
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }

            .hover-item__list {
              margin: 0 15px;

              ul {
                li {
                  font-size: 38px;
                  line-height: 1.1;
                  color: #fff;
                  @extend %MagazineGrotesque;
                  margin-bottom: 10px;

                  p {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 0;
                    padding-bottom: 10px;
                  }

                  &:hover {
                    cursor: context-menu;
                  }

                  &.hover {
                    p {
                      &::after {
                        content: "";
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 5px;
                        background-color: #2654ed;
                      }
                    }

                  }
                }
              }
            }
          }
        }
      }
    }

    &.section5 {
      height: 100vh;
      background-color: #fff;
      overflow: hidden;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.name {
              top: 142px;
              left: -70px;
            }

            &.index {
              span {
                color: #2654ed;
              }
            }
          }
        }

        .section-content {
          .panel {
            position: absolute;
            width: 100%;
            height: 100vh;

            &.panel-bg {
              img {
                width: 100%;
              }

              p {
                color: #fff;
                font-size: 124px;
                line-height: 1.1;
                @extend %MagazineGrotesque;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            &.panel-text {
              width: 120%;
              background-color: rgb(247, 214, 0);

              p {
                text-transform: uppercase;
                @extend %MagazineGrotesque;
                font-size: 65px;
                line-height: 1.3;
                width: 50vw;
                max-width: 850px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-text-fill-color: rgb(247, 214, 0);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    &.section6 {
      // height: 100vh;
      background-color: #fff;
      overflow: hidden;
      height: auto;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.name {
              top: 142px;
              left: -70px;
            }

            &.index {
              span {
                color: #2654ed;
              }
            }
          }
        }

        .section-content {
          height: auto;

          .section-title {
            padding-top: 10vh;
            text-align: left;
            // width: 60vw;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;

            h3 {
              @extend %MagazineGrotesque;
              font-size: 2.5vw;
              line-height: 1.2;
              font-weight: 400;
              color: #ff553d;
              display: inline-block;
            }
          }

          .group {
            width: 50vw;
            max-width: 1000px;
            margin: 100px auto 0;
            position: relative;
            // margin-top: 70px;

            &.group1 {
              .group-right {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                img {
                  width: initial;
                }
              }

              .group-left {
                position: absolute;
                top: 20px;
                left: 0;

                .s6-group-name {
                  font-size: 55px;
                  line-height: 65px;
                  color: #fff;
                  @extend %MagazineGrotesque;
                  -webkit-text-fill-color: #fff;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: black;
                  max-width: 500px;
                  text-transform: uppercase;
                }

                .s6-group-text {
                  line-height: 25px;
                  font-size: 20px;
                  color: #000;
                  max-width: 300px;
                  margin-top: 70px;
                  font-weight: 700;
                }
              }
            }

            &.group2 {
              transform: translateX(15%);
              display: flex;
              justify-content: space-evenly;

              .group-left {
                width: 45%;

                img {
                  width: 100%;
                }
              }

              .group-right {
                width: 45%;

                .s6-group-name {
                  font-size: 50px;
                  line-height: 55px;
                  color: #fff;
                  @extend %MagazineGrotesque;
                  -webkit-text-fill-color: #fff;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: black;
                  max-width: 500px;
                  text-transform: uppercase;
                }

                .s6-group-text {
                  line-height: 25px;
                  font-size: 20px;
                  color: #000;
                  max-width: 300px;
                  margin-top: 30px;
                  font-weight: 700;
                }
              }
            }

            &.group3 {
              display: flex;
              justify-content: space-evenly;
              margin-bottom: 70px;

              .group-left {
                width: 45%;

                .s6-group-name {
                  font-size: 50px;
                  line-height: 55px;
                  color: #fff;
                  @extend %MagazineGrotesque;
                  -webkit-text-fill-color: #fff;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: black;
                  max-width: 500px;
                  text-transform: uppercase;
                }

                .s6-group-text {
                  line-height: 25px;
                  font-size: 20px;
                  color: #000;
                  max-width: 300px;
                  margin-top: 30px;
                  font-weight: 700;
                }
              }

              .group-right {
                width: 45%;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      &.fixed {
        .section-inner {
          .section-overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: auto;
          }
        }
      }
    }

    &.section7 {
      height: 100vh;
      background-color: #fff;
      overflow: hidden;

      .section-inner {
        .section-content {
          .panel {
            position: absolute;
            width: 100%;
            height: 100vh;

            &.panel-bg {
              img {
                width: 100%;
                height: 100%;
              }

              .opacity {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgb(255, 85, 61);
                opacity: 0.5;
                top: 0;
                left: 0;
              }

              p {
                color: #fff;
                font-size: 70px;
                line-height: 1.1;
                @extend %MagazineGrotesque;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            &.panel-text {
              width: 120%;
              background-color: rgb(255, 85, 61);

              p {
                text-transform: uppercase;
                @extend %MagazineGrotesque;
                font-size: 82px;
                line-height: 1.3;
                width: 50vw;
                max-width: 850px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-text-fill-color: rgb(255, 85, 61);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    &.section8 {
      height: 100vh;
      background-color: #fff;
      overflow: hidden;

      .section-inner {
        .section-overlay {
          .section-overlay-item {
            &.name {
              -webkit-text-fill-color: rgb(255, 85, 61);
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: black;
            }

            &.index {
              p {
                span {
                  color: #fff;
                }
              }
            }
          }
        }

        .section-content {
          .section-content-animated {
            position: absolute;
            width: 100%;
            height: 100%;

            &.content-animated3 {

              .clip-path-wrapper {
                #bg-video1 {
                  width: 140%;
                  height: 100%;
                  display: block;
                }

                .clip-path-img {
                  position: absolute;
                  top: 50%;
                  left: 100%;
                  transform: translate(-50%, -50%);
                  height: 50vh;

                  &::after {
                    content: "";
                    width: 30vw;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    left: -20%;
                    background-color: rgb(255, 85, 61);
                  }

                  img {
                    height: 100%;
                  }
                }

                .clip-path-border {
                  position: absolute;

                  &.border1 {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 26vh;
                    background-color: rgb(255, 85, 61);
                  }

                  &.border3 {
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 26vh;
                    background-color: rgb(255, 85, 61);
                  }

                  &.border2 {
                    top: 0;
                    left: 0;
                    height: 100vh;
                    width: 5vw;
                    background-color: rgb(255, 85, 61);
                  }
                }
              }
            }

            &.content-animated4 {
              p {
                position: absolute;
                top: 30px;
                left: 20%;
                font-size: 130px;
              }
            }

            &.content-animated5 {
              p {
                position: absolute;

                &:last-child {
                  top: 50%;
                  left: 30%;
                  line-height: 226px;
                  font-size: 181px;
                }

                &:first-child {
                  top: 10%;
                  right: 15%;
                  line-height: 130px;
                  font-size: 104px;
                }
              }
            }

            &.content-animated6 {
              .s8-text-wrapper {
                position: absolute;
                top: 45%;
                left: 60%;
                transform: translate(-50%, -50%);
                width: 50vw;
                max-width: 600px;

                .stroke-name {
                  -webkit-text-fill-color: #ff553d;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: black;
                  @extend %MagazineGrotesque;
                  font-size: 55px;
                  text-transform: uppercase;
                  font-weight: 400;
                  line-height: 68px;
                  margin-bottom: 0;
                }

                .text-column {
                  column-count: 2;
                  column-gap: 20px;
                  margin-bottom: 0;
                  margin-top: 70px;
                  font-size: 20px;
                  line-height: 25px;
                  color: #fff;
                  width: 500px;
                }
              }
            }
          }
        }
      }
    }

    &.section9 {
      height: 100vh;
      background-color: rgb(219, 226, 230);
      overflow: hidden;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.name {
              top: 142px;
              left: -70px;
            }

            &.index {
              span {
                color: #2654ed;
              }
            }
          }
        }

        .section-content {
          width: 50vw;
          max-width: 1100px;
          margin: 0 auto;
          height: auto;
          padding-bottom: 55vh;

          .s9-content-fixed {
            position: absolute;
            width: 100%;
            height: 100vh;

            .preyear {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              margin-top: -70px;
              margin-left: 30px;

              p {
                line-height: 113px;
                font-size: 90px;
                color: #000;
                transform: scaleX(1.5);
                @extend %MagazineGrotesque;
                display: inline-block;
              }
            }

            .s9-content-chart {
              position: absolute;
              top: 50%;
              right: 40%;
              transform: translate(-50%, -50%);

              .s9-chart {
                position: absolute;
                width: 200px;
                height: 45px;


                .s9-chart-text {
                  position: relative;

                  p {
                    line-height: 30px;
                    font-size: 24px;
                    font-weight: 700;
                    color: #000;
                    text-align: center;
                    @extend %MagazineGrotesque;
                  }

                  .svg-dot {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                  }
                }

                &.chart1 {
                  margin-left: -5px;
                  margin-top: -30.5px;
                }

                &.chart2 {
                  margin-left: 168px;
                  margin-top: -118.5px;

                }

                &.chart3 {
                  margin-left: 258px;
                  margin-top: -182.5px;

                }

                &.chart4 {
                  margin-left: 338px;
                  margin-top: -96.5px;

                }

                &.chart5 {
                  margin-left: 211px;
                  margin-top: 19.5px;

                }

                &.chart6 {
                  margin-left: 42px;
                  margin-top: 146.5px;

                }

                &.chart7 {
                  margin-left: 208px;
                  margin-top: 147.5px;

                }

                &.chart8 {
                  margin-left: 330px;
                  margin-top: 126.5px;

                }
              }
            }
          }

          .s9-content-move {
            padding-top: 10vh;

            .s9-content-title {

              h3 {
                line-height: 80px;
                font-size: 64px;
                @extend %MagazineGrotesque;
                margin-bottom: 20px;
              }

              p {
                text-transform: uppercase;
                line-height: 23px;
                font-size: 18px;
                max-width: 400px;
              }
            }

            .s9-year-list {
              margin-top: 80px;
              margin-left: 100px;

              ul {
                li {
                  padding-left: 100px;
                  margin-bottom: 100px;

                  &:last-child {
                    margin-bottom: 0;
                  }

                  p {
                    line-height: 113px;
                    font-size: 90px;
                    color: #000;
                    -webkit-text-fill-color: rgb(219, 226, 230);
                    -webkit-text-stroke-width: 1px;
                    -webkit-text-stroke-color: black;
                    @extend %MagazineGrotesque;
                    transform: scaleX(1.5);
                    display: inline-block;
                  }
                }
              }

            }
          }
        }
      }
    }

    &.section10 {
      // height: 100vh;
      background-color: rgb(219, 226, 230);
      overflow: hidden;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.name {
              top: 185px;
              left: -106px;
            }

            &.index {
              span {
                color: #ff553d;
              }
            }
          }
        }

        .section-content {
          height: auto;

          .s10-title {
            width: 50vw;
            margin: 0 auto;
            padding-top: 80px;

            h3 {
              line-height: 113px;
              font-size: 90px;
              color: #000;
              @extend %MagazineGrotesque;
              font-weight: 700;
            }
          }

          .s10-trend-list {
            height: 100vh;
            width: 220%;
            margin-left: 25vw;
            display: flex;
            align-items: center;


            .s10-trend-item {
              margin-right: 150px;
              min-width: 550px;
              position: relative;

              .trend-item-name {
                h3 {
                  color: #dbe2e6;
                  font-size: 50px;
                  letter-spacing: 0px;
                  line-height: 68px;
                  text-transform: uppercase;
                  padding: 0;
                  @extend %MagazineGrotesque;
                  -webkit-text-fill-color: #dbe2e6;
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: black;
                }
              }

              .trend-item-img {
                img {
                  width: 100%;
                }
              }

              .trend-item-info {
                p {
                  line-height: 36px;
                  font-size: 36px;
                  color: #000;
                  @extend %MagazineGrotesque;

                  span {
                    display: block;
                    color: #fff;
                  }
                }
              }

              &.s10-item1,
              &.s10-item4,
              &.s10-item7,
              &.s10-item10 {
                .trend-item-img {
                  max-width: 450px;
                  margin-bottom: 10px;
                }

                .trend-item-info {
                  display: flex;
                  justify-content: space-evenly;

                  p {
                    margin: 0 20px;
                  }
                }
              }

              &.s10-item2,
              &.s10-item5,
              &.s10-item8 {
                margin-top: 80px;

                .trend-item-img {
                  float: left;
                  padding-right: 20px;

                  img {
                    width: initial;
                  }
                }

                .trend-item-info {
                  p {
                    margin-bottom: 10px;
                  }
                }
              }

              &.s10-item3,
              &.s10-item6,
              &.s10-item9 {
                .trend-item-img {
                  float: right;
                  margin-top: -130px;

                  img {
                    width: initial;
                  }
                }
              }

              &.s10-item6 {
                .trend-item-img {
                  max-width: 300px;

                  img {
                    width: 100%;
                  }
                }
              }

              &.s10-item7 {
                margin-top: 50px;
              }

              &.s10-item8 {
                margin-top: -100px;
              }

              &.s10-item9 {
                margin-right: 350px;
              }

              &.s10-item10 {
                .trend-item-note {
                  line-height: 15px;
                  font-size: 12px;
                  margin-top: 30px;

                }
              }
            }
          }
        }
      }

      &.fixed {
        .section-inner {
          .section-overlay {
            position: fixed;
            top: 0;
            left: 0;
            height: auto;
          }
        }
      }
    }

    &.section11 {
      height: 100vh;
      background-color: rgb(219, 226, 230);
      overflow: hidden;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.name {
              top: 175px;
              left: -100px;

              p {
                color: #2654ed;
              }
            }

            &.index {
              span {
                color: #2654ed;
              }
            }
          }
        }

        .section-content {
          .s11-background-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #2654ed;

            .picture-bg {
              background-repeat: no-repeat;
              position: absolute;
              background-size: cover;
              background-position: 50% 50%;
              top: -2px;
              left: -2px;
              right: -2px;
              bottom: -2px;
              opacity: 0.46;
              background-image: url("../../img/denim/s11-bg.jpg");
            }
          }

          .s11-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            p {
              color: #fff;
              @extend %MagazineGrotesque;

              &:first-of-type {
                line-height: 1;
                font-size: 8vw;
                margin-bottom: 15px;
              }

              &:last-child {
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    &.section12 {
      height: 100vh;
      background-color: rgb(255, 255, 255);
      overflow: hidden;

      .section-inner {
        .section-overlay {
          height: auto;

          .section-overlay-item {
            &.name {
              top: 125px;
              left: -50px;
            }

            &.index {
              span {
                color: #2654ed;
              }
            }
          }
        }

        .section-content {
          .section-insight-wrapper {
            max-width: 1900px;
            margin: 0 auto;
            height: 100vh;
            background-color: #fff;
            @extend %relative;

            .insight-glob {
              max-width: 300px;
              position: absolute;

              img {
                width: 100%;
              }

              &.glob1 {
                top: 15%;
                left: 5%;
              }

              &.glob2 {
                bottom: 10%;
                right: 0;
              }
            }

            .insight-glob-group {
              max-width: 1000px;
              height: 100vh;
              margin: 0 auto;
              @extend %relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .insight-glob-name {
                h3 {
                  line-height: 33px;
                  font-size: 26px;
                  color: #000;
                }
              }

              .insight-glob-animated {
                position: relative;
                z-index: 1;

                .glob-group {
                  max-width: 684px;
                  max-height: 684px;
                  position: relative;

                  img {
                    width: 100%;
                    position: relative;
                    z-index: 1;
                  }

                  .glob-bg {
                    position: absolute;
                    left: 55%;
                    top: 52%;
                    transform: translate(-50%, -50%);

                    .glob-bg-inner {
                      animation-name: animation_41;
                      animation-duration: 7.4s;
                      animation-iteration-count: infinite;
                      animation-direction: alternate;
                      animation-fill-mode: both;
                      animation-play-state: running;
                    }
                  }

                  .insight-list {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;

                    a {
                      position: absolute;
                      line-height: 57px;
                      font-size: 57px;
                      color: #000;
                      top: 50%;
                      text-decoration: none;
                      transform: scale(0);
                      cursor: pointer;

                      &:first-child {
                        left: 75px;
                        margin-top: -100px;
                      }

                      &:nth-child(2) {
                        left: 75px;
                      }

                      &:nth-child(3) {
                        left: 75px;
                        margin-top: 100px;
                      }

                      &:nth-child(4) {
                        left: 75px;
                        margin-top: -50px;
                      }
                    }
                  }
                }
              }

              .insight-glob-bg__text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;

                p {
                  font-size: 81px;
                  line-height: 1;
                  white-space: pre-wrap;
                  text-align: center;
                  text-decoration: none;
                  text-transform: uppercase;
                  color: rgb(255, 255, 255);
                  -webkit-text-stroke-width: 1px;
                  -webkit-text-stroke-color: black;
                  @extend %MagazineGrotesque;
                  transform: scaleX(1.5);
                }
              }
            }
          }
        }
      }
    }

    &.last-section {
      background-color: rgb(219, 226, 230);
      height: 100vh;
      overflow: hidden;

      .section-inner {
        .section-last-bg {
          img {
            width: 100%;
            display: block;
          }
        }

        .section-last-search {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 40vw;
          max-width: 730px;

          .last-search-title {
            @extend %MagazineGrotesque;
            font-size: 59px;
            line-height: 1.1;
            color: #fff;
            margin-bottom: 30px;
          }

          .search-bar {
            background-color: #fff;
            display: flex;
            padding: 12px;
            transition: all .25s cubic-bezier(.23, 1, .32, 1);

            input {
              background-color: #ffffff;
              border: 0;
              color: #000;
              flex-grow: 1;
              font-family: 'Brown-Regular', Arial;
              font-size: 1.1250rem;
              margin-left: 12px;
              margin-right: 12px;
              outline: none;
              padding: 0;
            }

            button {
              align-items: center;
              background-color: #FF553D;
              border: 0;
              cursor: pointer;
              display: flex;
              height: 60px;
              justify-content: center;
              width: 60px;
            }
          }
        }
      }
    }

  }

  // modal-open
  &.modal-open {
    .vct-info-tag {
      .vct-info-content {
        visibility: visible;

        .info-content-modal {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@keyframes animation_1 {
  0% {
    transform: translate3d(0px, 0px, 0) rotate(0deg) scale(1);
    opacity: 1;
    animation-timing-function: linear;
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotate(360deg) scale(1);
    opacity: 1;
  }
}

@keyframes animation_7 {
  0% {
    transform: translate3d(0px, 0px, 0) rotate(0deg) scale(1);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }

  99.95456610631531% {
    transform: translate3d(0px, 0px, 0) rotate(10deg) scale(1);
    opacity: 1;
    animation-timing-function: linear;
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotate(10deg) scale(1);
    opacity: 1;
  }
}

@keyframes animation_41 {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    animation-timing-function: ease-in-out
  }

  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -41, -23, 0, 1);
    opacity: 1;
  }
}



// --------------Responsive
@media (min-width: 1300px) and (max-width: 1500px) {
  .vct-wrapper {
    .section {
      &.section10 {
        .section-inner {
          .section-content {
            .s10-trend-list {
              width: 300%;
            }
          }
        }
      }

      &.section9 {
        .section-inner {
          .s9-content-fixed {
            .preyear {
              margin-top: 5px !important;
            }
          }
        }
      }

      &.section8 {
        .section-inner {
          .section-content {
            .content-animated3 {
              .clip-path-wrapper {
                .clip-path-img {
                  &::after {
                    // width: 50vw !important;
                    left: -15% !important;
                  }
                }
              }
            }

            .content-animated6 {
              .s8-text-wrapper {
                .stroke-name {
                  font-size: 45px !important;
                }
              }
            }
          }
        }
      }

      &.section7 {
        .section-inner {
          .section-content {
            .panel-text {
              p {
                font-size: 65px !important;
              }
            }
          }
        }
      }

      &.section6 {
        .section-inner {
          .section-content {
            .group {
              &.group1 {
                .group-left {
                  .s6-group-name {
                    font-size: 52px;
                  }

                  .s6-group-text {
                    max-width: 250px;
                  }
                }
              }

              &.group2 {
                .group-right {
                  .s6-group-name {
                    font-size: 45px;
                  }
                }
              }

              &.group3 {
                .group-left {
                  .s6-group-name {
                    font-size: 45px;
                  }
                }
              }
            }
          }
        }
      }

      &.section4 {
        height: auto;

        .section-inner {
          .section-content {
            padding-bottom: 20vh;
          }
        }
      }

      &.section3 {
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 1600px) and (max-width: 1900px) {
  .vct-wrapper {
    .section {
      &.section10 {
        .section-inner {
          .section-content {
            .s10-trend-list {
              width: 260%;
            }
          }
        }
      }

      &.section8 {
        .section-inner {
          .section-content {
            .content-animated3 {
              .clip-path-wrapper {
                .clip-path-img {
                  &::after {
                    // width: 50vw !important;
                    left: -15% !important;
                  }
                }
              }
            }

            // .content-animated6 {
            //   .s8-text-wrapper {
            //     .stroke-name {
            //       font-size: 45px !important;
            //     }
            //   }
            // }
          }
        }
      }

      &.section9 {
        .section-inner {
          .s9-content-fixed {
            .preyear {
              margin-top: -55px !important;
            }
          }
        }
      }
    }
  }
}