%relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.vct-wrapper {
  @extend %relative;

  .orangina {
    @extend %relative;

    // orangina nav
    #orangina-nav {
      display: block;
      z-index: 9;
      background: url("../../img/orangina/orangina-nav-bg.png");
      width: 9px;
      height: 300px;
      position: fixed;
      right: 30px;
      top: 50%;
      margin-top: -150px;
    }

    .orangina-wrapper {
      @extend %relative;
      z-index: 1;

      .overlay {
        #orangina-line {
          position: absolute;
          left: 50%;
          margin-left: -300px;
          z-index: 1;
          top: 87%;
          background: url("../../img/orangina/timeline.png") center top no-repeat;
          height: 950%;
          background-size: auto 100%;
          width: 500px;
        }
        // #orangina-bg {
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   width: 100%;
        //   height: 100%;
        //   z-index: 0;
        //   top: 0;
        //   height: 1000%;
        //   background: url("../../img/orangina/bg-page-heritage.jpg");
        //   background-size: 100% 100%;
        // }
      }

      .orangina-section {
        @extend %relative;

        .section {
          &.section1 {
            .section-inner {
              @extend %relative;
              background-image: url("../../img/orangina/setion1-bg.jpg");
              background-size: 100% 100%;
              background-repeat: no-repeat;

              .section-layout-wrapper {
                @extend %relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}
