@font-face {
  font-family: moret;
  src: url("./moret.ttf");
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url(".../../../../../src/css/font/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url(".../../../../../src/css/font/SFProDisplay-Regular.ttf");
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-heading h3, .vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner .vct-section3-content p, .vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner .vct-section5-content.s5-block p, .vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-content p {
  font-family: moret;
}

.vct-wrapper .vct-bg-video .video, .vct-wrapper .vct-bg-video .vct-pattern-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner .vct-section3-content.yellow-dot, .vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-content.yellow-dot {
  position: absolute;
  left: auto;
  top: 0%;
  right: 5vw;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 30vw;
  padding: 5vw 5vw 4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 50%;
  background-color: #ffe527;
  text-align: center;
}

.vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner .vct-section5-content.block-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 5vw;
  padding: 5vw 7vw 4vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #ffe527;
  background-color: transparent;
  text-align: center;
}

.vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner, .vct-wrapper .vct-body-content .vct-section.vct-section4 .vct-section4-inner, .vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner, .vct-wrapper .vct-body-content .vct-section.vct-section6 .vct-section6-inner, .vct-wrapper .vct-body-content .vct-section.vct-section7 .vct-section7-inner, .vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner, .vct-wrapper .vct-body-content .vct-section.vct-section9 .vct-section9-inner {
  width: 90%;
  position: relative;
}

.vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner .vct-section3-img, .vct-wrapper .vct-body-content .vct-section.vct-section4 .vct-section4-inner .vct-section4-img, .vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner .vct-section5-img, .vct-wrapper .vct-body-content .vct-section.vct-section6 .vct-section6-inner .vct-section6-img, .vct-wrapper .vct-body-content .vct-section.vct-section7 .vct-section7-inner .vct-section7-img, .vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-bottom: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

.vct-wrapper {
  position: relative;
  overflow: hidden;
}

.vct-wrapper .vct-info-tag {
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo {
  position: fixed;
  top: 30%;
  right: 0;
  color: #fff;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ffe527;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo img {
  width: 25px;
  height: 25px;
  -webkit-animation-name: ring;
          animation-name: ring;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo:hover {
  background-color: #D1A300;
}

.vct-wrapper .vct-info-tag .vct-info-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  visibility: hidden;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: auto;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top {
  position: relative;
  width: 100%;
  height: auto;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close svg {
  fill: #fff;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title {
  padding: 40px 20px 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 {
  text-align: center;
  color: #FED440;
  font-size: 28px;
  font-family: SFProDisplay-Bold;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 span {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1;
  font-family: SFProDisplay-Regular;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 70%;
  background-color: #FED440;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot {
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text {
  text-align: center;
  margin-top: 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p:last-child {
  margin-bottom: 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p span {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-left: 5px;
  text-align: left;
  line-height: 1.1;
}

.vct-wrapper .vct-bg-video .video {
  min-width: 100%;
  min-height: 100%;
}

.vct-wrapper .vct-bg-video .video #bg-video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}

.vct-wrapper .vct-bg-video .video .video-overlay {
  background-color: #2e352e;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.vct-wrapper .vct-bg-video .vct-pattern-wrap {
  background-image: url("../../img/northland/bg-pattern-overlay.svg");
  background-repeat: repeat;
  opacity: 0.2;
  width: 300vw;
  height: 300vh;
  margin-left: -150%;
  background-position: 0px 0px;
  background-size: 48%;
  -webkit-transform: none;
          transform: none;
  z-index: 1;
}

.vct-wrapper .vct-body-content {
  position: relative;
  z-index: 2;
}

.vct-wrapper .vct-body-content .vct-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.vct-wrapper .vct-body-content .vct-section.vct-section1 {
  height: calc(100vh - 20vh);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.vct-wrapper .vct-body-content .vct-section.vct-section1 .vct-section1-inner .play-btn {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 11vw;
  height: 11vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #000;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  font-family: realistwide, sans-serif;
  color: #fff;
  font-size: 2.3vw;
  line-height: 1em;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  cursor: crosshair;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 {
  margin-top: -81px;
  padding: 0vh 0vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner {
  width: 60vw;
  max-width: calc(800px - 40px);
  padding: 30px 0px 60px 40px;
  background-color: #fff;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-heading {
  margin-bottom: 40px;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-heading h3 {
  color: #2e352e;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: 0.6px;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-info {
  margin-bottom: 40px;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-info .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e352e;
  font-size: 16px;
  line-height: 1.25em;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-info .info-row .info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-info .info-row .info-title .info-title--line {
  height: 1px;
  margin-right: 14px;
  margin-left: 14px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2e352e;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-des {
  margin: 0px 5vw -60px -40px;
  padding: 40px;
  background-color: #ffe527;
}

.vct-wrapper .vct-body-content .vct-section.vct-section2 .vct-section2-inner .vct-section-des p {
  color: #2e352e;
  font-size: 17px;
  line-height: 1.7em;
}

.vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner .vct-section3-img img {
  width: 66%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner .vct-section3-content.s3-dot {
  left: 7vw;
  top: 10%;
  right: auto;
  bottom: auto;
  width: 20vw;
  height: 20vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section3 .vct-section3-inner .vct-section3-content p {
  color: #2e352e;
  font-size: 2.25vw;
  line-height: 1.2;
  font-weight: 800;
}

.vct-wrapper .vct-body-content .vct-section.vct-section4 {
  padding: 0vh 0vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section4 .vct-section4-inner .vct-section4-img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.vct-wrapper .vct-body-content .vct-section.vct-section4 .vct-section4-inner .vct-section4-img img {
  width: 66%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section5 {
  padding: 0vh 0vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner .vct-section5-img img {
  width: 33%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner .vct-section5-content.s5-block {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: auto;
  width: 45%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section5 .vct-section5-inner .vct-section5-content.s5-block p {
  color: #ffe527;
  font-size: 3vw;
  line-height: 1.25;
  font-weight: 700;
}

.vct-wrapper .vct-body-content .vct-section.vct-section6 {
  padding: 0vh 0vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section6 .vct-section6-inner .vct-section6-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-body-content .vct-section.vct-section6 .vct-section6-inner .vct-section6-img img {
  width: 66%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section7 {
  padding: 0vh 0vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section7 .vct-section7-inner .vct-section7-img img {
  width: 66%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section8 {
  padding: 0vh 0vw 15vh;
}

.vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-img {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-img img {
  width: 66%;
}

.vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-content.s8-dot {
  right: 7vw;
  top: 6%;
  left: auto;
  bottom: auto;
  width: 26vw;
  height: 26vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section8 .vct-section8-inner .vct-section8-content p {
  color: #2e352e;
  font-size: 2.25vw;
  line-height: 1.25;
  font-weight: 800;
}

.vct-wrapper .vct-body-content .vct-section.vct-section9 .vct-section9-inner .vct-section9-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.vct-wrapper .vct-body-content .vct-section.vct-section9 .vct-section9-inner .vct-section9-video #next-video {
  width: 50vw;
  height: 29vw;
  -webkit-transform: scale3d(0.8, 0.8, 1);
          transform: scale3d(0.8, 0.8, 1);
}

.vct-wrapper .vct-body-content .vct-section.vct-section9 .vct-section9-inner .vct-section9-video .next-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vct-wrapper .vct-body-content .vct-section.vct-section9 .vct-section9-inner .vct-section9-video .next-text p {
  color: #fff;
  font-size: 2.25vw;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.vct-wrapper .vct-body-content .vct-section.vct-section9 .vct-section9-inner .vct-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  z-index: 1;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 600;
  overflow: hidden;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 0vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 36vw;
  height: 80vh;
  left: auto;
  top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: crosshair;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-video #reel-video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -100;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-video .reel-dot {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: #ffe527;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-video .reel-loop-div {
  position: absolute;
  left: -8vw;
  top: -8vw;
  right: auto;
  bottom: auto;
  z-index: 5;
  width: 16vw;
  height: 16vw;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-video .reel-loop-div .reel-loop {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../img/northland/reel-loop.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-container .nav-link {
  position: relative;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #ffe527;
  font-size: 14vw;
  line-height: 0.7em;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: crosshair;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-body-content .vct-section.vct-section10 .vct-section10-inner .vct-footer-container .nav-link:hover {
  color: transparent;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-text-stroke: 1px #ffe527;
}

.vct-wrapper.modal-open .vct-info-tag .vct-info-content {
  visibility: visible;
}

.vct-wrapper.modal-open .vct-info-tag .vct-info-content .info-content-modal {
  opacity: 1;
  visibility: visible;
  -webkit-animation: modal-slide-right .5s ease;
          animation: modal-slide-right .5s ease;
}

@-webkit-keyframes modal-slide-right {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

@keyframes modal-slide-right {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=northand.css.map */