@font-face {
  font-family: SFProDisplay-Bold;
  src: url(".../../../../../src/css/font/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url(".../../../../../src/css/font/SFProDisplay-Regular.ttf");
}

.vct-wrapper, .vct-wrapper .vct-main-content, .vct-wrapper .vct-main-content .swiper-container, .vct-wrapper .vct-main-content .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vct-wrapper {
  overflow: hidden;
}

.vct-wrapper .vct-info-tag {
  position: relative;
  display: none;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo {
  position: fixed;
  top: 30%;
  right: 0;
  color: #fff;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ffe527;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo .img-wrapper {
  width: 25px;
  height: 25px;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo .img-wrapper svg {
  -webkit-animation-name: flash-text;
          animation-name: flash-text;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-wrapper .vct-info-tag .vct-info-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: auto;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top {
  position: relative;
  width: 100%;
  height: auto;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close svg {
  fill: #fff;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title {
  padding: 40px 20px 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 {
  text-align: center;
  color: #fed440;
  font-size: 28px;
  font-family: SFProDisplay-Bold;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 span {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1;
  font-family: SFProDisplay-Regular;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 70%;
  background-color: #fed440;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot {
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text {
  text-align: center;
  margin-top: 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p:last-child {
  margin-bottom: 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p span {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-left: 5px;
  text-align: left;
  line-height: 1.1;
}

.vct-wrapper.modal-animated .vct-info-tag .vct-info-content {
  visibility: visible;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: linear 0.5s;
  transition: linear 0.5s;
}

.vct-wrapper.modal-animated .vct-info-tag .vct-info-content .info-content-modal {
  opacity: 1;
  visibility: visible;
}

.vct-wrapper .vct-preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f6f2;
  z-index: 9999;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.vct-wrapper .vct-preload .intro__image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.vct-wrapper .vct-preload .intro__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 444px;
  height: 30px;
  margin-left: -222px;
  margin-top: -15px;
  z-index: 2;
}

.vct-wrapper .vct-preload .intro__logo #path {
  fill: #000000;
}

.vct-wrapper .vct-preload.is__loaded {
  visibility: hidden;
  opacity: 0;
  display: none;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.vct-wrapper .vct-main-content {
  width: 100vw;
  height: 100vh;
  background-color: #f7f6f2;
}

.vct-wrapper .vct-main-content .swiper-container .swiper-wrapper .swiper-slide {
  background-color: #f7f6f2;
  overflow: hidden;
}

.vct-wrapper .vct-main-content .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  max-width: 100%;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f7f6f2;
  mix-blend-mode: difference;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor.is-active {
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor .project-cursor__arrow {
  display: inline-block;
  position: relative;
  width: 4px;
  height: 6px;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor .project-cursor__arrow--left {
  margin-right: 4px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor .project-cursor__arrow--right {
  margin-left: 4px;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor .project-cursor__arrow svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 6px;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor span {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor span.project-cursor__current {
  font-weight: 600;
  font-size: 16px;
}

.vct-wrapper .vct-main-content .swiper-container .project-cursor span.project-cursor__total {
  font-size: 9px;
  padding-left: 11px;
  opacity: 0.9;
}

@-webkit-keyframes flash {
  0% {
    background-color: #fee715ff;
  }
  50% {
    background-color: #101820ff;
  }
  100% {
    background-color: #fee715ff;
  }
}

@keyframes flash {
  0% {
    background-color: #fee715ff;
  }
  50% {
    background-color: #101820ff;
  }
  100% {
    background-color: #fee715ff;
  }
}

@-webkit-keyframes flash-text {
  0% {
    fill: #101820ff;
  }
  50% {
    fill: #fee715ff;
  }
  100% {
    fill: #101820ff;
  }
}

@keyframes flash-text {
  0% {
    fill: #101820ff;
  }
  50% {
    fill: #fee715ff;
  }
  100% {
    fill: #101820ff;
  }
}
/*# sourceMappingURL=pierre.css.map */