.vct-wrapper, .vct-wrapper .vct-main-content, .vct-wrapper .vct-main-content .main-content-wrapper, .vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner, .vct-wrapper .vct-footer {
  position: relative;
  width: 100%;
  height: 100%;
}

.vct-wrapper .vct-banner-wrapper .banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  font-family: Track, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  color: #000;
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.vct-wrapper {
  overflow: hidden;
}

.vct-wrapper .vct-header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 1100px;
  z-index: 1;
}

.vct-wrapper .vct-header-wrapper .header-menu {
  margin: 30px 0 20px;
  text-align: center;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item:first-child {
  width: 143px;
  height: 101px;
  margin: -12px 60px 0 -50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item:first-child .menu-item__link {
  width: 100%;
  height: 100%;
  padding: 0;
  background: url("../../img/lapierrequitourne/header_logo_black.png") 0 0;
  background-repeat: no-repeat;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item:first-child .menu-item__link::after {
  display: none;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item:not(:first-child) {
  margin: 3px 20px 0 0;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item:not(:first-child) .menu-item__link {
  padding: 20px;
  letter-spacing: 1px;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item .menu-item__link {
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
  color: #000;
  text-decoration: none;
  position: relative;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item .menu-item__link .link-text {
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item .menu-item__link .link-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #954247;
  -webkit-transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item .menu-item__link:hover .link-text {
  color: #954247;
}

.vct-wrapper .vct-header-wrapper .header-menu ul .menu-item .menu-item__link:hover .link-text::after {
  width: 100%;
  -webkit-transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.vct-wrapper .vct-header-wrapper.header-fixed {
  position: fixed;
  background-color: #f1e7e0;
  z-index: 3;
}

.vct-wrapper .vct-header-wrapper.header-fixed .header-menu {
  margin: 18px 0 10px;
}

.vct-wrapper .vct-header-wrapper.header-fixed .header-menu ul .menu-item:first-child {
  width: 85.8px;
  height: 60.6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-header-wrapper.header-fixed .header-menu ul .menu-item:first-child .menu-item__link {
  background-size: auto 100%;
}

.vct-wrapper .vct-banner-wrapper {
  height: 85vh;
  width: 100vw;
  position: relative;
  background-color: #eee6de;
}

.vct-wrapper .vct-banner-wrapper .vct-banner-parallax-bg {
  position: fixed;
  width: 100%;
  height: 85vh;
  background: #ab8159;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.vct-wrapper .vct-banner-wrapper .vct-banner-parallax-bg .visu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../img/lapierrequitourne/header_bg.jpg");
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: center center;
  background-size: cover;
}

.vct-wrapper .vct-banner-wrapper .banner-title .banner-title__text {
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 4vw;
  letter-spacing: 0.05em;
  line-height: 4vw;
  text-align: center;
  padding-top: 85px;
  text-transform: uppercase;
  font-weight: 600;
}

.vct-wrapper .vct-main-content {
  min-height: 300px;
  background: #f2e8dd;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav {
  position: absolute;
  width: 100%;
  margin-top: -60px;
  min-width: 1100px;
  height: 110px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .nav-bg {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #fcf1df;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list {
  text-align: center;
  max-width: 1900px;
  margin: 0 auto;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item {
  display: inline-block;
  vertical-align: top;
  width: 135px;
  height: 110px;
  margin-left: -35px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link {
  display: block;
  margin-left: 35px;
  margin-top: 10px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link .link-wrapper {
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link .link-wrapper .link-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link .link-wrapper .link-img img {
  position: relative;
  width: auto;
  display: block;
  height: 165%;
  top: 0;
  left: 50%;
  -webkit-transform-origin: 50% 10%;
          transform-origin: 50% 10%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link .link-wrapper .link-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ea9389;
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link .link-wrapper:hover .link-bg {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item .list-item__link .link-wrapper:hover .link-img img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, 0) scale(0.5);
          transform: translate(-50%, 0) scale(0.5);
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(2) .list-item__link .link-wrapper .link-bg {
  background-color: #ffe4a0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(3) .list-item__link .link-wrapper .link-bg {
  background-color: #9cb167;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(4) .list-item__link .link-wrapper .link-bg {
  background-color: #ffd854;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(5) .list-item__link .link-wrapper .link-bg {
  background-color: #a3c0c4;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(6) .list-item__link .link-wrapper .link-bg {
  background-color: #a28d80;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(7) .list-item__link .link-wrapper .link-bg {
  background-color: #c3797f;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(8) .list-item__link .link-wrapper .link-bg {
  background-color: #a5749f;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(9) .list-item__link .link-wrapper .link-bg {
  background-color: #c0d2cc;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item:nth-child(10) .list-item__link .link-wrapper .link-bg {
  background-color: #cf82a1;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item.current {
  position: relative;
  z-index: 2;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item.current .list-item__link .link-wrapper {
  height: 100px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item.current .list-item__link .link-wrapper .link-bg {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav .main-content__nav-list .nav-list-item.current .list-item__link .link-wrapper .link-img img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(-50%, 0) scale(0.5);
          transform: translate(-50%, 0) scale(0.5);
}

.vct-wrapper .vct-main-content .main-content-wrapper .main-content__nav.nav-fixed {
  position: fixed;
  top: 0;
  margin-top: 80px;
  z-index: 2;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list {
  position: relative;
  margin-top: 60px;
  min-height: 300px;
  background-color: #ab8159;
  z-index: 1;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme {
  width: 100%;
  color: #fff;
  overflow: hidden;
  height: 85vh;
  max-height: 700px;
  position: relative;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner {
  max-width: 1900px;
  margin: 0 auto;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1900px;
  margin: 0 auto;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-perso {
  max-width: 1900px;
  margin: 0 auto;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-perso .gamme-perso-left {
  position: absolute;
  top: 7%;
  left: 5%;
  height: 780px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-perso .gamme-perso-right {
  position: absolute;
  top: 7%;
  right: 5%;
  height: 780px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-title {
  position: relative;
  top: 19%;
  z-index: 1;
  text-align: center;
  padding-bottom: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-title p {
  position: relative;
  color: #fff;
  font-size: 45px;
  letter-spacing: 0.2rem;
  line-height: 1.2;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-title p .range {
  font-family: "Marck Script", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .gamme-title p::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits {
  top: 53%;
  min-height: 376px;
  text-align: center;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 380px;
  margin: -4px -60px 0 -60px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item a .biscuits-item-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 60px;
  letter-spacing: 3px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  overflow: hidden;
  display: block;
  color: #ffdd68;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title span {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title span:first-child {
  font-size: 90px;
  line-height: 1;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .biscuits .biscuits-item a:hover .biscuits-item-title-wrapper .biscuits-item-title span {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .desc {
  text-align: center;
  margin: 0;
  position: relative;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme .gamme_section-inner .desc p {
  display: inline-block;
  vertical-align: top;
  font-family: "Marck Script", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -1px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 {
  background-color: #cc756b;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme1-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 .biscuits .biscuits-item:nth-child(1) {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 .biscuits .biscuits-item:nth-child(1) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item1.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 .biscuits .biscuits-item:nth-child(2) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item2.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 .biscuits .biscuits-item:nth-child(2) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #ffdda4;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section1 .biscuits .biscuits-item:nth-child(3) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item3.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 {
  background-color: #f5c682;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme2-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(1) {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(1) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item4.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #e1ffdf;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(2) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item5.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(2) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #ff8558;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(3) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item6.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(3) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #ff8558;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(4) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item7.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section2 .biscuits .biscuits-item:nth-child(4) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #ffd870;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 {
  background-color: #7e9349;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme3-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 .biscuits .biscuits-item:nth-child(1) {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 .biscuits .biscuits-item:nth-child(1) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item8.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fefba5;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 .biscuits .biscuits-item:nth-child(2) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item9.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section3 .biscuits .biscuits-item:nth-child(2) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #ffe824;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 {
  background-color: #ecba36;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme4-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(1) {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(1) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item10.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fff7a2;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title span {
  font-size: 72px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title span:last-child {
  font-size: 111px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(2) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item11.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(2) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: white;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(3) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item12.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section4 .biscuits .biscuits-item:nth-child(3) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #feeeb0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section5 {
  background-color: #85a2a6;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section5 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme5-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section5 .biscuits .biscuits-item {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section5 .biscuits .biscuits-item a {
  background-image: url("../../img/lapierrequitourne/biscuits-item13.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section5 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fff65f;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section6 {
  background-color: #846f62;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section6 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme6-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section6 .biscuits .biscuits-item {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section6 .biscuits .biscuits-item a {
  background-image: url("../../img/lapierrequitourne/biscuits-item14.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section6 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fbb042;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 {
  background-color: #a55b61;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme7-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .biscuits .biscuits-item {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .biscuits .biscuits-item a {
  background-image: url("../../img/lapierrequitourne/biscuits-item15.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fffbe4;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title span {
  font-size: 90px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title span:last-child {
  font-size: 120px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section7 .gamme-perso .gamme-perso-left {
  left: -5%;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 {
  background-color: #875681;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme8-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 .biscuits .biscuits-item:nth-child(1) {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 .biscuits .biscuits-item:nth-child(1) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item16.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fff7a2;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 .biscuits .biscuits-item:nth-child(2) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item17.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section8 .biscuits .biscuits-item:nth-child(2) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: white;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 {
  background-color: #a2b4ae;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme9-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 .biscuits .biscuits-item {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 .biscuits .biscuits-item a {
  background-image: url("../../img/lapierrequitourne/biscuits-item18.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fceb6f;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title span {
  font-size: 90px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section9 .biscuits .biscuits-item a .biscuits-item-title-wrapper .biscuits-item-title span:last-child {
  font-size: 80px;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 {
  background-color: #b16483;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .gamme-bg {
  background-image: url("../../img/lapierrequitourne/gamme10-bg.jpg");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .biscuits .biscuits-item {
  margin: 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .biscuits .biscuits-item:nth-child(1) {
  background: 0 0;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .biscuits .biscuits-item:nth-child(1) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item19.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .biscuits .biscuits-item:nth-child(1) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: #fff7a2;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .biscuits .biscuits-item:nth-child(2) a {
  background-image: url("../../img/lapierrequitourne/biscuits-item20.png");
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .biscuits .biscuits-item:nth-child(2) a .biscuits-item-title-wrapper .biscuits-item-title {
  color: white;
}

.vct-wrapper .vct-main-content .main-content-wrapper .gammes-list .gamme.gamme_section10 .gamme-perso .gamme-perso-left {
  left: -5%;
}

.vct-wrapper .vct-footer {
  background-color: #000;
}

.vct-wrapper .vct-footer .vct-footer-content {
  height: 110px;
  text-align: center;
  width: 100%;
}

.vct-wrapper .vct-footer .vct-footer-content ul {
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none;
  margin: 0;
  position: relative;
}

.vct-wrapper .vct-footer .vct-footer-content ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.3;
  color: #fff4ce;
}

.vct-wrapper .vct-footer .vct-footer-content ul li:first-child {
  padding-left: 0;
}

.vct-wrapper .vct-footer .vct-footer-content ul li:last-child {
  background: 0 0;
  padding-right: 0;
}

.vct-wrapper .vct-footer .vct-footer-content ul li a {
  padding-bottom: 3px;
  color: #fff4ce;
  text-decoration: none;
}

.vct-wrapper .vct-footer .vct-footer-content ul li .footer-logo {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-right: 6px;
}

.vct-wrapper .vct-footer .vct-footer-content ul li .fb-like {
  display: inline-block;
  position: relative;
}

.vct-wrapper .vct-footer .vct-footer-content ul li .fb-like span {
  display: inline-block;
  position: relative;
  text-align: justify;
  vertical-align: bottom;
  width: 138px;
  height: 20px;
}
/*# sourceMappingURL=lapierrequitourne.css.map */