@font-face {
  font-family: SFProDisplay-Bold;
  src: url(".../../../../../src/css/font/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url(".../../../../../src/css/font/SFProDisplay-Regular.ttf");
}

.vct-info-tag {
  position: relative;
}

.vct-info-tag .vct-info-tag-logo {
  position: fixed;
  top: 30%;
  right: 0;
  color: #fff;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ffe527;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-info-tag .vct-info-tag-logo .img-wrapper {
  width: 25px;
  height: 25px;
  position: relative;
}

.vct-info-tag .vct-info-tag-logo .img-wrapper svg {
  -webkit-animation-name: flash-text;
          animation-name: flash-text;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-info-tag .vct-info-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
}

.vct-info-tag .vct-info-content .info-content-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: auto;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top {
  position: relative;
  width: 100%;
  height: auto;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close svg {
  fill: #fff;
  position: relative;
  width: initial;
  height: initial;
  -webkit-transform: none;
          transform: none;
  top: unset;
  left: unset;
  margin: unset;
  padding: unset;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title {
  padding: 40px 20px 30px;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 {
  text-align: center;
  color: #fed440;
  font-size: 28px;
  font-family: SFProDisplay-Bold;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 span {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1;
  font-family: SFProDisplay-Regular;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 70%;
  background-color: #fed440;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-bot {
  position: relative;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text {
  text-align: center;
  margin-top: 30px;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p:last-child {
  margin-bottom: 30px;
}

.vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p span {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-left: 5px;
  text-align: left;
  line-height: 1.1;
}

.vct-info-tag .vct-info-content.modal-close {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-animation-name: modal-close;
          animation-name: modal-close;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.vct-info-tag .vct-info-content.modal-open {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-animation-name: modal-open;
          animation-name: modal-open;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes flash {
  0% {
    background-color: #fee715ff;
  }
  50% {
    background-color: #101820ff;
  }
  100% {
    background-color: #fee715ff;
  }
}

@keyframes flash {
  0% {
    background-color: #fee715ff;
  }
  50% {
    background-color: #101820ff;
  }
  100% {
    background-color: #fee715ff;
  }
}

@-webkit-keyframes flash-text {
  0% {
    fill: #101820ff;
  }
  50% {
    fill: #fee715ff;
  }
  100% {
    fill: #101820ff;
  }
}

@keyframes flash-text {
  0% {
    fill: #101820ff;
  }
  50% {
    fill: #fee715ff;
  }
  100% {
    fill: #101820ff;
  }
}

@-webkit-keyframes modal-close {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: rotateY(-150deg);
            transform: rotateY(-150deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes modal-close {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: rotateY(-150deg);
            transform: rotateY(-150deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@-webkit-keyframes modal-open {
  0% {
    -webkit-transform: rotateY(-150deg);
            transform: rotateY(-150deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}

@keyframes modal-open {
  0% {
    -webkit-transform: rotateY(-150deg);
            transform: rotateY(-150deg);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
}
/*# sourceMappingURL=infotag.css.map */