@font-face {
  font-family: MARKPRO-BOLD;
  src: url("../css/fonts/MARKPRO-BOLD.OTF");
}

@font-face {
  font-family: CIRCULARSTD-BOLD;
  src: url("../css/fonts/CIRCULARSTD-BOLD.OTF");
}

@font-face {
  font-family: CIRCULARSTD-BOOK;
  src: url("../css/fonts/CIRCULARSTD-BOOK.OTF");
}

.vct-wrapper, .vct-wrapper .vct-content #fullpage .section {
  position: relative;
  width: 100%;
  height: 100%;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title .work__cta, .vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a .image--cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  margin-top: 40px;
  padding: 20px 40px;
  border: 1px solid #e34340;
  border-radius: 30px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hide {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mb-hide {
  display: none;
}

.vct-wrapper .vct-overlay {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-overlay .menu__logo {
  position: fixed;
  left: 4%;
  top: 7%;
  z-index: 10;
  width: 10vw;
  cursor: pointer;
}

.vct-wrapper .vct-overlay .menu__logo img {
  width: 100%;
  display: block;
}

.vct-wrapper .vct-overlay .menu__button {
  position: fixed;
  right: 5%;
  top: 7%;
  z-index: 10;
  cursor: pointer;
}

.vct-wrapper .vct-overlay .menu__button span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}

.vct-wrapper .vct-overlay .menu__button.gray span {
  background-color: #949494;
}

.vct-wrapper .vct-overlay .menu__baogia {
  position: fixed;
  left: 4%;
  bottom: 7%;
  z-index: 10;
  text-decoration: none;
  color: #333333;
  font-family: CIRCULARSTD-BOLD;
  font-size: 16px;
  cursor: pointer;
}

.vct-wrapper .vct-overlay .menu__back {
  position: fixed;
  left: 4%;
  bottom: 7%;
  z-index: 10;
  color: #949494;
  font-family: CIRCULARSTD-BOLD;
  font-size: 16px;
  cursor: pointer;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 6;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper {
  width: 100vw;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-top {
  width: 85%;
  margin-left: auto;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-top p {
  font-family: CIRCULARSTD-BOOK;
  font-size: 1.7vw;
  color: #373737;
  line-height: 1.2;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .line {
  width: 100vw;
  height: 1px;
  background-color: #373737;
  margin: 30px 0;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-bot {
  width: 85%;
  margin-left: auto;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-bot h3 {
  color: #e34340;
  font-family: MARKPRO-BOLD;
  font-size: 4vw;
  line-height: 1.2;
  margin-bottom: 50px;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-bot p {
  font-family: CIRCULARSTD-BOOK;
  font-size: 1.7vw;
  color: #373737;
  line-height: 1.2;
  margin-bottom: 20px;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__overlay--bg img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
  height: auto;
}

.vct-wrapper .vct-overlay .baogia__overlay-wrapper .baogia__back {
  position: absolute;
  left: 4%;
  bottom: 7%;
  z-index: 10;
  color: #949494;
  font-family: CIRCULARSTD-BOLD;
  font-size: 16px;
  cursor: pointer;
}

.vct-wrapper .vct-overlay .detail-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner {
  background-color: #2d2d2d;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper {
  position: absolute;
  left: 4%;
  top: 7%;
  z-index: 7;
  width: calc(100% - 4%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu__logo {
  width: 10vw;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu__logo img {
  width: 100%;
  display: block;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu__text {
  margin-left: 3vw;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu__text p {
  font-family: CIRCULARSTD-BOLD;
  font-size: 1vw;
  line-height: 1.1;
  color: #f7764c;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu-hamburger {
  position: absolute;
  right: 5%;
  top: 0;
  cursor: pointer;
  width: 1.5vw;
  height: auto;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu-hamburger img {
  width: 100%;
  display: block;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid {
  width: 100%;
  height: 85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 7;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li {
  position: relative;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link {
  display: block;
  cursor: pointer;
  color: #505050;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper .menu-item--index {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  font-family: MARKPRO-BOLD;
  line-height: 1.2;
  font-size: 1.2vw;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper .menu-item--title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  font-family: MARKPRO-BOLD;
  font-size: 3vw;
  line-height: 1.2;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper .menu-item--desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  font-family: CIRCULARSTD-BOOK;
  font-size: 1.1vw;
  line-height: 1.2;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #f7f7f7;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li::before {
  content: "";
  width: 120vw;
  height: 1px;
  background-color: #3e3e3e;
  position: absolute;
  top: 0;
  left: -15%;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .grid-bgicon {
  position: absolute;
  bottom: 5%;
  right: 15%;
  width: 350px;
  height: 350px;
  z-index: 6;
}

.vct-wrapper .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .grid-bgicon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.vct-wrapper .vct-overlay .detail-menu__overlay #ascrail2000-hr {
  display: none !important;
}

.vct-wrapper .vct-content #fullpage {
  display: block;
  -webkit-transition-delay: 0.825s !important;
          transition-delay: 0.825s !important;
}

.vct-wrapper .vct-content #fullpage .section {
  overflow: hidden;
  background-color: #f7f7f7;
}

.vct-wrapper .vct-content #fullpage .section .box {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
  z-index: 2;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner {
  width: 55vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-top {
  position: absolute;
  top: 0;
  left: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-top p {
  font-family: MARKPRO-BOLD;
  color: #e34340;
  font-size: 1.5vw;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin-left: 160px;
  white-space: nowrap;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot span {
  font-family: CIRCULARSTD-BOLD;
  font-size: 14px;
  color: #202020;
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot .bot__border {
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #e34340;
  opacity: 0.5;
  left: -140px;
  top: 7px;
  pointer-events: none;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot:hover .bot__border {
  width: 100%;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot:hover span {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo {
  margin-right: 40px;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
  width: 4vw;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
  color: #e34340;
  font-family: MARKPRO-BOLD;
  font-size: 4vw;
  margin-bottom: 30px;
}

.vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
  font-family: CIRCULARSTD-BOOK;
  font-size: 1vw;
  line-height: 1.2;
  color: #373737;
  margin-bottom: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .work__bg {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../image/section1-bgleft.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  color: #e34340;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title h3 {
  font-size: 6vw;
  line-height: 0.9;
  text-transform: uppercase;
  font-family: MARKPRO-BOLD;
  margin-bottom: 30px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title p {
  font-family: MARKPRO-BOLD;
  font-size: 1.65vw;
  line-height: 1;
  margin-bottom: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title .work__cta span {
  font-family: CIRCULARSTD-BOLD;
  font-size: 16px;
  line-height: 1;
  display: block;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title .work__cta span.cta-icon {
  margin-left: 10px;
  width: 14px;
  height: 16px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay .work__title .work__cta span.cta-icon svg {
  fill: #e34340;
}

.vct-wrapper .vct-content #fullpage .section .box .work__overlay.fade {
  -webkit-animation: fadeinout 0.5s linear forwards;
          animation: fadeinout 0.5s linear forwards;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3vw;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content {
  width: 65%;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .text-grid ul {
  list-style: disc;
  padding-left: 25px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .text-grid ul li {
  font-size: 16px;
  line-height: 1.5;
  font-family: CIRCULARSTD-BOOK;
  color: #373737;
  margin-bottom: 15px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .text-grid ul li:last-child {
  margin-bottom: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid p {
  font-size: 16px;
  font-family: CIRCULARSTD-BOOK;
  color: #373737;
  margin-bottom: 30px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-top .brand-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding: 0 10px;
  text-align: center;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-top .brand-item .brand-logo {
  min-height: 54px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-top .brand-item .brand-desc p {
  margin-bottom: 0;
  font-family: CIRCULARSTD-BOLD;
  font-size: 16px;
  line-height: 1.3;
  color: #5d5d5d;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-bot .brand-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  padding: 0 10px;
  text-align: center;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-bot .brand-item .brand-logo {
  min-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .brand-grid .grid-bot .brand-item .brand-desc p {
  margin-bottom: 0;
  font-family: CIRCULARSTD-BOLD;
  font-size: 16px;
  line-height: 1.3;
  color: #5d5d5d;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .scrolldown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  margin: 0 auto;
  padding: 10px 25px;
  border: 1px solid #e34340;
  border-radius: 30px;
  cursor: pointer;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .scrolldown-btn span {
  color: #e34340;
  font-size: 16px;
  line-height: 1;
  font-family: CIRCULARSTD-BOLD;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .content .scrolldown-btn span img {
  height: 30px;
  padding-right: 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .work__content .content--inner .line {
  width: 100%;
  height: 1px;
  background-color: #afafaf;
  margin: 20px 0;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper {
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide {
  width: 35vw;
  max-width: 840px;
  position: relative;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image {
  position: relative;
  height: 100vh;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper {
  width: 70%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text .image--text__biglogo {
  width: 4vw;
  height: auto;
  margin-bottom: 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text .image--text__smalllogo {
  width: 30px;
  height: auto;
  margin-bottom: 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text h3 {
  font-family: MARKPRO-BOLD;
  color: #e34340;
  font-size: 2.5vw;
  line-height: 1.2;
  margin-bottom: 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text h4 {
  margin-bottom: 20px;
  font-family: CIRCULARSTD-BOLD;
  color: #373737;
  font-size: 1.8vw;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text p {
  color: #373737;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  font-family: CIRCULARSTD-BOOK;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text ul {
  margin: 30px 0;
  list-style: disc;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text ul li {
  font-family: CIRCULARSTD-BOOK;
  font-size: 16px;
  color: #373737;
  margin-bottom: 15px;
  line-height: 1.2;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a .image--cta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 130px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 15px 20px;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a .image--cta span {
  font-family: CIRCULARSTD-BOLD;
  font-size: 12px;
  line-height: 1;
  display: block;
  color: #e34340;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a .image--cta span.image--cta-icon {
  margin-left: 10px;
  width: 14px;
  height: 16px;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a .image--cta span.image--cta-icon svg {
  fill: #e34340;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover .image--cta {
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, right top, from(#f7954c), color-stop(33%, #f78d4c), color-stop(66%, #f77f4c));
  background: linear-gradient(90deg, #f7954c 0%, #f78d4c 33%, #f77f4c 66%);
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover .image--cta span {
  color: #fff;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover .image--cta span.image--cta-icon svg {
  fill: #fff;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide:first-child .work__image .imagewrapper {
  top: 60%;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide:first-child .work__image .imagewrapper img {
  width: initial;
  margin: 0 auto;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) .work__image .imagewrapper {
  top: 75%;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) .work__image .imagewrapper {
  top: 27%;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) .work__image .imagewrapper {
  top: 35%;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper.custom-position {
  -webkit-transform: translate3d(-20%, 0, 0) !important;
          transform: translate3d(-20%, 0, 0) !important;
  -webkit-transition: -webkit-transform 0.5s !important;
  transition: -webkit-transform 0.5s !important;
  transition: transform 0.5s !important;
  transition: transform 0.5s, -webkit-transform 0.5s !important;
}

.vct-wrapper .vct-content #fullpage .section .box .swiper-container .swiper-wrapper.slide-open {
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper {
  width: 100vw;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper .product-title {
  margin-bottom: 40px;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper .product-title h4 {
  font-family: CIRCULARSTD-BOLD;
  color: #e34340;
  font-size: 1.15vw;
  line-height: 1.2;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper .product-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper .product-list-content .product-list-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper .product-list-content .product-list-grid ul li {
  color: #373737;
  font-family: CIRCULARSTD-BOOK;
  font-size: 1.5vw;
  line-height: 1.2;
  margin-bottom: 30px;
  position: relative;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper .product-list-content .product-list-grid ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -3vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3vw;
  height: 1px;
  background-color: #373737;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper.product__list-top {
  width: 85%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper.product__list-top .product-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-grid ul li {
  margin-right: 9vw;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper.product__list-bot {
  width: 90%;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vct-wrapper .vct-content #fullpage .section .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-grid ul li {
  margin-left: 9vw;
}

.vct-wrapper .vct-content #fullpage .section#section2 .box .slide__overlay .slide__overlay-inner .overlay-content, .vct-wrapper .vct-content #fullpage .section#section9 .box .slide__overlay .slide__overlay-inner .overlay-content, .vct-wrapper .vct-content #fullpage .section#section10 .box .slide__overlay .slide__overlay-inner .overlay-content, .vct-wrapper .vct-content #fullpage .section#section13 .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 70%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top {
  width: 90%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content {
  width: 100%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-grid {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-bg img {
  display: block;
  width: 100%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-grid {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-bg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-bg img {
  display: block;
  width: 100%;
}

.vct-wrapper .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p, .vct-wrapper .vct-content #fullpage .section#section8 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
  width: 70%;
}

.vct-wrapper .vct-content #fullpage .section.reveal .box .slide__overlay {
  display: none;
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 85%;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
    font-size: 65px;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
    font-size: 16px;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
    width: 65px;
  }
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__bg {
    width: 42%;
    background-size: cover;
    background-position: top left;
  }
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top .brand-item .brand-desc p {
    font-size: 15px;
  }
  .vct-wrapper .vct-content #fullpage .section#section3 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 95%;
  }
  .vct-wrapper .vct-content #fullpage .section#section4 .box .slide__overlay .slide__overlay-inner, .vct-wrapper .vct-content #fullpage .section#section6 .box .slide__overlay .slide__overlay-inner {
    width: 60vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section4 .box .slide__overlay .slide__overlay-inner .overlay-content, .vct-wrapper .vct-content #fullpage .section#section6 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 100%;
  }
  .vct-wrapper .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner {
    width: 60vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 95%;
  }
  .vct-wrapper .vct-content #fullpage .section#section7 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 90%;
  }
  .vct-wrapper .vct-content #fullpage .section#section8 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 90%;
  }
  .vct-wrapper .vct-content #fullpage .section#section11 .box .slide__overlay .slide__overlay-inner {
    width: 60vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section11 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 95%;
  }
}

@media (min-width: 1301px) and (max-width: 1500px) {
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner {
    width: 55vw;
    height: 45vh;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 85%;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo {
    margin-right: 40px;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
    font-size: 4vw;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
    font-size: 15px;
  }
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .text-grid ul li {
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 15px;
  }
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .text-grid ul li:last-child {
    margin-bottom: 0;
  }
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid p {
    font-size: 15px;
    line-height: 1;
  }
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top .brand-item .brand-desc p,
  .vct-wrapper .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-bot .brand-item .brand-desc p {
    font-size: 15px;
    line-height: 1.2;
  }
  .vct-wrapper .vct-content #fullpage .section#section4 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
    font-size: 4vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section9 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section10 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section11 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
    font-size: 3.5vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section12 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section13 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section14 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top {
    width: 90%;
    margin-bottom: 40px;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-grid {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-bg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content .product-list-bg img {
    display: block;
    width: 100%;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-grid {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-bg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .vct-wrapper .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot .product-list-content .product-list-bg img {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner {
    width: 55vw;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 85%;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo {
    margin-right: 40px;
  }
  .vct-wrapper .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
    font-size: 4vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section2 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section4 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
    font-size: 4vw;
  }
  .vct-wrapper .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p, .vct-wrapper .vct-content #fullpage .section#section8 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
    width: 70%;
  }
  .vct-wrapper .vct-content #fullpage .section#section9 .box .slide__overlay .slide__overlay-inner .overlay-content, .vct-wrapper .vct-content #fullpage .section#section10 .box .slide__overlay .slide__overlay-inner .overlay-content, .vct-wrapper .vct-content #fullpage .section#section13 .box .slide__overlay .slide__overlay-inner .overlay-content {
    width: 70%;
  }
}

.mobile .vct-overlay .menu__logo {
  top: 6%;
  width: 25vw;
}

.mobile .vct-overlay .menu__baogia {
  font-size: 14px;
}

.mobile .vct-overlay .menu__back {
  font-size: 14px;
}

.mobile .vct-overlay .menu__button span {
  background-color: #949494;
}

.mobile .vct-overlay .detail-menu__overlay {
  height: 100%;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner {
  height: 100%;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu__logo {
  width: 25vw;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu__text p {
  font-size: 13px;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu-icon__wrapper .detail-menu-hamburger {
  width: 15px;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .grid-bgicon {
  display: none;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid {
  height: 85%;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list {
  width: 100%;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link {
  color: #fff;
  padding: 0 25px;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper {
  display: block;
  position: relative;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper .menu-item--index {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 11px;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper .menu-item--title {
  font-size: 20px;
  padding-left: 25px;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li .detail-menu--link .menu-item-wrapper .menu-item--desc {
  display: block;
  font-size: 13px;
  line-height: 1.3;
  margin-top: 10px;
  padding-left: 25px;
}

.mobile .vct-overlay .detail-menu__overlay .detail-menu__overlay--inner .detail-menu__grid .detail-menu__list li::before {
  width: 100vw;
  left: 0;
}

.mobile .vct-overlay .baogia__overlay-wrapper {
  height: 100%;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner {
  height: 100%;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-top {
  width: 90%;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-top p {
  font-size: 3.25vw;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-bot {
  width: 90%;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-bot h3 {
  font-size: 7vw;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__overlay--inner .baogia__content-wrapper .baogia__content-bot p {
  font-size: 3.25vw;
}

.mobile .vct-overlay .baogia__overlay-wrapper .baogia__back {
  font-size: 14px;
}

.mobile .vct-content #fullpage .section#section1 .box {
  height: 100%;
}

.mobile .vct-content #fullpage .section#section1 .box .work__bg {
  display: none;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay {
  background-image: url("../image/section1-mbbg.png");
  background-color: unset;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  z-index: 2;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay .work__title {
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 20px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay .work__title h3 {
  font-size: 45px;
  margin-bottom: 20px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay .work__title p {
  font-size: 16px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay .work__title .work__cta {
  margin-top: 20px;
  padding: 15px 35px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay .work__title .work__cta span {
  font-size: 15px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__overlay .work__title .work__cta span.cta-icon {
  height: 15px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content {
  height: 100%;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner {
  width: unset;
  padding-top: 6vh;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content {
  width: unset;
  padding: 0 15px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .text-grid ul li {
  font-size: 12px;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .text-grid ul li:last-child {
  margin-bottom: 0;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid p {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 15px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top .brand-item {
  min-height: 90px;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top .brand-item .brand-logo {
  height: 35px;
  min-height: unset;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top .brand-item .brand-logo img {
  height: 100%;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-top .brand-item .brand-desc p {
  font-size: 12px;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-bot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-bot .brand-item {
  min-height: 90px;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-bot .brand-item .brand-logo {
  height: 35px;
  min-height: unset;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .brand-grid-inner .grid-bot .brand-item .brand-desc p {
  font-size: 12px;
  margin-bottom: 10px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .scrolldown-btn {
  padding: 10px 15px;
  width: 160px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content .brand-grid .scrolldown-btn span {
  font-size: 14px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .content.m-20 {
  margin-top: -20px;
}

.mobile .vct-content #fullpage .section#section1 .box .work__content .content--inner .line {
  margin: 0;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner {
  width: 100vw;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-top {
  left: 15px;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-top p {
  font-size: 14px;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot {
  right: 15px;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-bot .bot__border {
  display: none;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 90% !important;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo {
  margin-right: 25px;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
  width: 35px;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
  font-size: 8vw;
}

.mobile .vct-content #fullpage .section .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
  font-size: 15px;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide {
  width: 90vw;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper {
  width: 75%;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text .image--text__biglogo {
  width: 35px;
  margin-bottom: 15px;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text .image--text__biglogo img {
  margin-bottom: 15px;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text ul li {
  font-size: 14px;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text p {
  font-size: 14px;
  margin-bottom: 20px;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover .image--cta {
  border: 1px solid #e34340;
  background: transparent;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover .image--cta span {
  color: #e34340;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide .work__image .imagewrapper .image--text a:hover .image--cta span.image--cta-icon svg {
  fill: #e34340;
}

.mobile .vct-content #fullpage .section .box .swiper-container .swiper-wrapper .swiper-slide:first-child .work__image .imagewrapper img {
  width: 100%;
}

.mobile .vct-content #fullpage .section#section4 .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 95% !important;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 95% !important;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
  width: 30px;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
  font-size: 30px;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
  width: 90%;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 95% !important;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
  width: 30px;
}

.mobile .vct-content #fullpage .section#section5 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
  font-size: 30px;
}

.mobile .vct-content #fullpage .section#section6 .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 95% !important;
}

.mobile .vct-content #fullpage .section#section6 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
  width: 30px;
}

.mobile .vct-content #fullpage .section#section6 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
  font-size: 30px;
}

.mobile .vct-content #fullpage .section#section7 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
  width: 90%;
}

.mobile .vct-content #fullpage .section#section8 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text p {
  width: 90%;
}

.mobile .vct-content #fullpage .section#section11 .box .slide__overlay .slide__overlay-inner .overlay-content {
  width: 95% !important;
}

.mobile .vct-content #fullpage .section#section11 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-logo img {
  width: 30px;
}

.mobile .vct-content #fullpage .section#section11 .box .slide__overlay .slide__overlay-inner .overlay-content .overlay-text h3 {
  font-size: 30px;
}

.mobile .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top {
  display: block;
  width: 100%;
  margin-bottom: 0;
  height: calc(100vh - 54px);
  background-image: url("../image/section15-content.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
}

.mobile .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-list-content {
  display: none;
}

.mobile .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-title {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-bottom: 0;
  position: absolute;
  top: 6%;
  left: 35%;
}

.mobile .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-top .product-title h4 {
  font-size: 12px;
  width: 55%;
}

.mobile .vct-content #fullpage .section#section15 .box .product__wrapper .product__list-wrapper.product__list-bot {
  display: none;
}
/*# sourceMappingURL=webuy.css.map */