@font-face {
  font-family: SFProDisplay-Bold;
  src: url("../../../../../src/css/font/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url("../../../../../src/css/font/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: Canoodle;
  src: url("./Canoodle.otf");
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button, .vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button .section-btn .box-link {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.vct-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.75s cubic-bezier(0.77, 0.06, 0.28, 0.85);
  transition: all 0.75s cubic-bezier(0.77, 0.06, 0.28, 0.85);
}

.vct-wrapper .vct-info-tag {
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo {
  position: fixed;
  top: 30%;
  right: 0;
  color: #fff;
  z-index: 3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #ffe527;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: flash;
          animation-name: flash;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo .img-wrapper {
  width: 25px;
  height: 25px;
}

.vct-wrapper .vct-info-tag .vct-info-tag-logo .img-wrapper svg {
  -webkit-animation-name: flash-text;
          animation-name: flash-text;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 1.15s;
          animation-duration: 1.15s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.vct-wrapper .vct-info-tag .vct-info-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: auto;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top {
  position: relative;
  width: 100%;
  height: auto;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-close svg {
  fill: #fff;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title {
  padding: 40px 20px 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 {
  text-align: center;
  color: #fed440;
  font-size: 28px;
  font-family: SFProDisplay-Bold;
  line-height: 1;
  margin-bottom: 0;
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3 span {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1;
  font-family: SFProDisplay-Regular;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-top .modal-title h3::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 70%;
  background-color: #fed440;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot {
  position: relative;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text {
  text-align: center;
  margin-top: 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p:last-child {
  margin-bottom: 30px;
}

.vct-wrapper .vct-info-tag .vct-info-content .info-content-modal .modal-bot .modal-text p span {
  font-size: 20px;
  color: #fff;
  font-family: SFProDisplay-Regular;
  font-weight: 300;
  margin-left: 5px;
  text-align: left;
  line-height: 1.1;
}

.vct-wrapper .vct-overlay .header {
  padding: 10px 5px 10px 0;
  height: 145px;
  z-index: 999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.vct-wrapper .vct-overlay .header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-wrapper .vct-overlay .header .header-inner .logo-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 15px;
}

.vct-wrapper .vct-overlay .header .header-inner .logo-wrap .logo {
  width: 150px;
}

.vct-wrapper .vct-overlay .header .header-inner .logo-wrap .logo a img {
  width: 100%;
}

.vct-wrapper .vct-overlay .header .header-inner .slogan {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  text-align: center;
}

.vct-wrapper .vct-overlay .header .header-inner .slogan p {
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  color: #00813b;
  font-family: Canoodle;
}

.vct-wrapper .vct-overlay .header .header-inner .menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner {
  position: relative;
  float: right;
  cursor: pointer;
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner .label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 25px;
  color: #1a893a;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Canoodle;
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner .hamburger {
  width: 115px;
  height: 64px;
  display: block;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner .hamburger .hamburger-inner-wrap {
  position: absolute;
  top: 5px;
  right: -5px;
  width: 50px;
  height: 50px;
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner .hamburger .hamburger-inner-wrap .hamburger-menu {
  position: relative;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  background: #1a893a;
  -webkit-transition: all 0ms 300ms;
  transition: all 0ms 300ms;
  width: 27px;
  height: 2px;
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner .hamburger .hamburger-inner-wrap .hamburger-menu::before {
  width: 27px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: #1a893a;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.vct-wrapper .vct-overlay .header .header-inner .menu .menu-inner .hamburger .hamburger-inner-wrap .hamburger-menu::after {
  width: 27px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: #1a893a;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.vct-wrapper .vct-overlay .overlay-item {
  height: 100vh;
  display: none;
  background-color: #fff;
  margin-top: -2px;
  width: 100%;
  position: absolute;
  z-index: 101;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container {
  -webkit-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
  height: 100vh;
  margin: 0 auto;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner {
  max-height: 100%;
  background-color: #fff;
  margin: 0;
  position: relative;
  height: 100% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box {
  position: relative;
  width: 100%;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-img {
  position: relative;
  z-index: 99;
  width: 315px;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-img img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 0 1rem 0 auto;
  max-width: 100%;
  pointer-events: none;
  height: 450px;
  margin: inherit;
  z-index: 9999;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap {
  position: absolute;
  top: -15px;
  left: 0;
  padding-left: 315px;
  z-index: 9;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap.overlay-content {
  font-size: 2.25rem;
  margin-top: 0;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content {
  text-transform: uppercase;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content .content-text {
  display: inline-block;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content .content-text h3 {
  font-size: 116px;
  line-height: 1;
  font-family: Canoodle;
  color: #00803b;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content .content-text p {
  font-family: Canoodle;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content .content-text img {
  max-width: 80px;
  vertical-align: initial;
  height: auto;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content {
  position: relative;
  width: 570px;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content::before {
  content: "";
  display: block;
  background: url("../../img/campinaitalia/border-bg.png") no-repeat;
  height: 215px;
  position: absolute;
  top: 0;
  left: -50px;
  width: 100%;
  background-position: right;
  background-size: cover;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner {
  position: relative;
  padding: 40px 0 30px;
  width: 470px;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .border-text {
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  font-family: Canoodle;
  top: 0;
  left: 0;
  color: #fff;
  margin: 0;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner h4 {
  font-family: Canoodle;
  font-size: 32px;
  line-height: 28px;
  margin: 0 20px 20px 0;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .ingredient {
  font-family: Canoodle;
  font-size: 36px;
  line-height: 28px;
  color: #43a040;
  margin: 0;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .ingredient-list {
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: #89b700;
  margin: 0;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .ingredient-list li {
  font-family: Canoodle;
  margin-right: 5px;
  display: inline-block;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content {
  width: 525px;
  margin: 18px 0 0 10px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column {
  position: relative;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column .icon {
  position: absolute;
  left: -15px;
  top: 0;
  display: inline-block;
  width: 85px;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column .icon img {
  max-width: 100%;
  height: auto;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column .column-text {
  padding-left: 80px;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  font-family: Canoodle;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column.column-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column.column-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
  padding-right: 3rem !important;
  margin-left: 2rem !important;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-close {
  position: absolute;
  top: 200px;
  right: 50px;
  cursor: pointer;
  display: block;
  z-index: 999;
}

.vct-wrapper .vct-overlay .overlay-item .overlay-close .close-inner {
  background-image: url("../../img/campinaitalia/btn-bg-sm.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  padding: 5px 20px 12px;
  font-size: 31px;
  line-height: 24px;
  font-weight: 400;
  z-index: 9999;
  position: relative;
  color: #fff;
  font-family: Canoodle;
}

.vct-wrapper .vct-overlay .overlay-item.detail-open {
  display: block;
}

.vct-wrapper .vct-content {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  min-height: 0;
}

.vct-wrapper .vct-content #fullpage {
  display: block;
}

.vct-wrapper .vct-content #fullpage .section {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  background-color: #fff;
}

.vct-wrapper .vct-content #fullpage .section .box {
  position: relative;
  background-color: #fff;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-img-wrap {
  position: relative;
  -webkit-transform: rotate(15deg) !important;
          transform: rotate(15deg) !important;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-img-wrap .box-img {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 0 1rem 0 auto;
  max-width: 100%;
  pointer-events: none;
  height: 450px;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-pos {
  position: absolute;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-pos-top {
  top: 30px;
  right: -75px;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-pos-left {
  top: 50px;
  left: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-pos-bottom {
  left: -35px;
  bottom: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .grid-item .box-pos-vbottom {
  right: 0;
  bottom: 50px;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -18rem;
  width: 260px;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .content-text-wrap .box-title {
  color: #ed8e2d;
  margin: 0 0 10px;
  line-height: 1;
  font-size: 88px;
  line-height: 65px;
  font-family: Canoodle;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .content-text-wrap .box-title span {
  display: block;
  position: relative;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 33px;
  line-height: 38px;
  margin-top: 5px;
  color: #000;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button .section-btn .box-link {
  position: absolute;
  top: 0;
  left: 0;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button .button {
  position: relative;
  display: block;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button .button .box-link-inner {
  background-image: url("../../img/campinaitalia/btn-bg-sm.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  padding: 5px 20px 12px;
  font-size: 31px;
  line-height: 24px;
  font-weight: 400;
  z-index: 9999;
  position: relative;
  color: #fff;
  font-family: Canoodle;
}

.vct-wrapper .vct-content #fullpage .section .box .content-center .threed-button .button::after {
  content: "";
  background: url("../../img/campinaitalia/btn-bg-sm-shadow.png") no-repeat;
  background-size: contain;
  height: 39px;
  width: 99px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.vct-wrapper .vct-content #fullpage .section#section2 .box .grid-item .box-img-wrap {
  -webkit-transform: rotate(26deg) !important;
          transform: rotate(26deg) !important;
}

.vct-wrapper .vct-content #fullpage .section#section2 .box .grid-item .box-pos-bottom {
  left: -100px;
}

.vct-wrapper .vct-content #fullpage .section#section2 .box .content-center .content-text-wrap .box-title {
  color: #3192d9;
}

.vct-wrapper .vct-content #fullpage .section#section3 .box .grid-item .box-img-wrap {
  -webkit-transform: rotate(20deg) !important;
          transform: rotate(20deg) !important;
}

.vct-wrapper .vct-content #fullpage .section#section3 .box .content-center .content-text-wrap .box-title {
  color: #b8b739;
}

.vct-wrapper .vct-content #fullpage .section#section4 .box .grid-item .box-img-wrap {
  -webkit-transform: rotate(27deg) !important;
          transform: rotate(27deg) !important;
  margin-right: 30px;
}

.vct-wrapper .vct-content #fullpage .section#section4 .box .grid-item .box-pos-bottom {
  left: -7rem;
}

.vct-wrapper .vct-content #fullpage .section#section4 .box .content-center .content-text-wrap .box-title {
  color: #a90b29;
}

.vct-wrapper .vct-content #fullpage .section#section5 .box .grid-item .box-img-wrap {
  -webkit-transform: rotate(52deg) !important;
          transform: rotate(52deg) !important;
  margin-right: 30px;
}

.vct-wrapper .vct-content #fullpage .section#section5 .box .grid-item .box-pos-top {
  top: 20px;
  right: -100px;
}

.vct-wrapper .vct-content #fullpage .section#section5 .box .grid-item .box-pos-bottom {
  left: -75px;
}

.vct-wrapper .vct-content #fullpage .section#section5 .box .content-center .content-text-wrap .box-title {
  color: #da0016;
}

.vct-wrapper .vct-content #fullpage .section#section6 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap {
  height: calc(100% - 70px);
  width: 100%;
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 700px;
  background-image: url("../../img/campinaitalia/grass.png");
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container {
  height: 100% !important;
  width: 100%;
  margin: 0 auto;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  position: relative;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box .footer-inner {
  padding: 0 50px;
  text-align: center;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box .footer-inner .box-title {
  font-size: 50px;
  line-height: 55px;
  color: #43a040;
  margin-bottom: 15px;
  font-family: Canoodle;
  margin: 0 0 10px;
  font-weight: 500;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box .footer-inner p {
  color: #000;
  font-size: 29px;
  line-height: 32px;
  margin: 0;
  font-family: Canoodle;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box .box-pos {
  position: absolute;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box .box-pos-top {
  left: -5rem;
  top: 2rem;
  bottom: auto;
  right: auto;
}

.vct-wrapper .vct-content #fullpage .section#section6 .footer-inner-wrap .footer-container .footer-container-inner .footer-box .box-pos-vbottom {
  bottom: 0;
  right: -4rem;
}

.vct-wrapper .vct-content #fullpage .section#section6 .copyrights {
  padding: 10px 20px;
  color: #000;
  position: relative;
  width: 95%;
}

.vct-wrapper .vct-content #fullpage .section#section6 .copyrights .footer-logo {
  display: inline-block !important;
}

.vct-wrapper .vct-content #fullpage .section#section6 .copyrights .footer-logo img {
  width: 150px;
}

.vct-wrapper .vct-content #fullpage .section#section6 .copyrights p {
  display: inline-block !important;
  font-family: Canoodle;
  font-size: 21px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 32px;
  margin: 0;
  color: #000;
}

.vct-wrapper .vct-content #fullpage .section#section6 .copyrights p a {
  text-decoration: none;
  color: #000;
}

.vct-wrapper.modal-open .vct-info-tag .vct-info-content {
  visibility: visible;
}

.vct-wrapper.modal-open .vct-info-tag .vct-info-content .info-content-modal {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes flash {
  0% {
    background-color: #fee715ff;
  }
  50% {
    background-color: #101820ff;
  }
  100% {
    background-color: #fee715ff;
  }
}

@keyframes flash {
  0% {
    background-color: #fee715ff;
  }
  50% {
    background-color: #101820ff;
  }
  100% {
    background-color: #fee715ff;
  }
}

@-webkit-keyframes flash-text {
  0% {
    fill: #101820ff;
  }
  50% {
    fill: #fee715ff;
  }
  100% {
    fill: #101820ff;
  }
}

@keyframes flash-text {
  0% {
    fill: #101820ff;
  }
  50% {
    fill: #fee715ff;
  }
  100% {
    fill: #101820ff;
  }
}

#fp-nav {
  right: 0 !important;
  padding-right: 20px !important;
  -webkit-transition: all 0.75s cubic-bezier(0.77, 0.06, 0.28, 0.85) !important;
  transition: all 0.75s cubic-bezier(0.77, 0.06, 0.28, 0.85) !important;
  margin: 0 !important;
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
}

#fp-nav ul li {
  display: block;
  height: 15px;
  width: 15px;
  margin: 0 0 7px;
  position: relative;
}

#fp-nav ul li a {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 15px;
  width: 15px;
  border: 0;
  background: #cde1bc;
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li a.active {
  background-color: #71a83e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#fp-nav ul li a span {
  position: static !important;
}

#fp-nav ul li:last-child a {
  background-image: url("../../img/campinaitalia/simley.png");
  background-color: transparent;
  width: 21px;
  height: 20px;
  left: 35%;
}

#fp-nav ul li .fp-tooltip {
  top: 0 !important;
  right: 15px !important;
  font-family: Canoodle !important;
  color: #9ebc48 !important;
  font-size: 18px !important;
  white-space: nowrap !important;
}

@media screen and (min-width: 1450px) {
  .vct-wrapper .vct-content #fullpage .section .box .grid-item .box-img-wrap .box-img {
    height: 600px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-img {
    width: 450px;
    z-index: 999;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-img img {
    height: 600px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap {
    padding-left: 430px;
    z-index: 99;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content .content-text h3 {
    font-size: 150px;
    line-height: 1;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .top-content .content-text p {
    font-size: 20px;
    line-height: 20px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content {
    width: 725px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content::before {
    height: 280px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner {
    padding: 60px 0 40px;
    width: 570px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .border-text {
    font-size: 30px;
    line-height: 40px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner h4 {
    font-size: 44px;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .ingredient {
    font-size: 40px;
    line-height: 35px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .ingredient-list {
    font-size: 28px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .detail-content .detail-content-inner .ingredient-list li {
    margin-right: 5px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content {
    width: 600px;
    padding-top: 20px;
  }
  .vct-wrapper .vct-overlay .overlay-item .overlay-container .overlay-content-inner .flex-box .detail-content-wrap .bottom-content .column .column-text {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  #section6 .footer-container {
    max-width: 1140px;
  }
  .overlay-item .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #section6 .footer-container {
    max-width: 960px;
  }
  .overlay-item .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #section6 .footer-container {
    max-width: 720px;
  }
  .overlay-item .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #section6 .footer-container {
    max-width: 540px;
  }
  .overlay-item .container {
    max-width: 540px;
  }
}
/*# sourceMappingURL=campinaitalia.css.map */