@font-face {
    font-family: Calibre-Regular;
    src: url("./font/Calibre-Regular.woff");
}

@font-face {
    font-family: Calibre-Semibold;
    src: url("./font/Calibre-Semibold.woff");
}

@font-face {
    font-family: Domaine-Bold;
    src: url("./font/Domaine-Bold.ttf");
}
