@font-face {
  font-family: SFProDisplay-Bold;
  src: url(".../../../../../src/css/font/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url(".../../../../../src/css/font/SFProDisplay-Regular.ttf");
}

%rangeThumb {
  border: 1px solid #3498db;
  width: 0.875em;
  height: 0.875em;
  border-radius: 4px;
  background: #eee;
  cursor: pointer;
  margin-top: -5px;
}

%rangeTrack {
  width: 100%;
  height: 0.313em;
  cursor: pointer;
  border-radius: 3px;
  background: #fff;
}

.vct-wrapper {
  position: relative;
  // width: 100vw;
  // height: 100vh;
  // overflow: hidden;
  // background-color: #000;

  .video-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    #video-container {
      position: relative;
      overflow: hidden;
      background-color: #000;
      width: 80%;
      height: 80vh;
      max-height: 700px;
      margin: 0 auto;

      // Video Content
      #stacked-video-wrapper {
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        margin-left: 0px;
        margin-top: 0px;

        .stacked-video {
          z-index: 1;
          height: 200%;
          width: 100%;
          position: absolute;
          cursor: pointer;
          left: 0px;
          top: 0px;
          margin-left: 0px;
          margin-top: 0px;
        }

        .reveal-video {
          top: -100% !important;
        }
      }

      // Overlay Widget
      #overlay {
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;

        .controler-overlay {
          background-color: transparent;
          position: absolute;
          overflow: hidden;
          height: 100%;
          width: 100%;
          left: 0px;
          top: 0px;
          margin-left: 0px;
          margin-top: 0px;

          #bottom-button-bar {
            position: absolute;
            height: 30px;
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            bottom: -28px;
            z-index: 2;
            transition: all 0.5s;

            .button {
              width: 20px;
              height: 18px;
              top: 7px;
              float: left;
              cursor: pointer;
              z-index: 200;
              position: relative;
              padding: 0 10px;

              &#bottom-bar-play-button {
                top: 8px;
              }

              &#bottom-bar-fullscreen-button {
                float: right;
                margin: 0 5px;
                margin-top: 1px;
                height: 22px;
                top: 3px;
              }

              &.hidden {
                display: none;
              }
            }

            .backing-gradient {
              position: absolute;
              width: 100%;
              height: 100%;
              bottom: 0;
              background: linear-gradient(to bottom,
                  rgba(0, 0, 0, 0.1) 0,
                  rgba(0, 0, 0, 0.69) 99%,
                  rgba(0, 0, 0, 0.7) 100%);
            }

            .inner-bar {

              #scrubber-line {
                position: relative;
                top: -1px;
                bottom: 20px;
                width: 0;
                border-top: 2px solid #fff;
              }
            }

            &.moveup {
              bottom: 0px !important;
              transition: all 0.5s;
            }
          }

          .center-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5vw;
            transform: translate(-50%, -50%);
            height: auto;
            cursor: pointer;
            z-index: 2;

            img {
              width: 100%;
            }

            &.hidden {
              display: none;
            }
          }

          #animated-overlay {
            position: absolute;
            width: 100%;
            height: 90%;
            top: 0;
            left: 0;
            background: transparent;

            &.animated {
              z-index: 3;
            }
          }
        }
      }
    }
  }


  // info tag
  .vct-info-tag {
    position: relative;

    .vct-info-tag-logo {
      position: fixed;
      top: 30%;
      right: 0;
      color: #fff;
      z-index: 3;
      transition: all 0.5s;
      cursor: pointer;
      width: 50px;
      height: 50px;
      background-color: #ffe527;
      background-image: url(../../../src/img/modal-icon.svg);
      background-size: 25px 25px;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: #D1A300;
      }
    }

    .vct-info-content {
      position: fixed;
      width: 100vw;
      height: 100vh;
      z-index: 3;
      visibility: hidden;

      .info-content-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        height: 330px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translate(-50%, -50%);
        z-index: 3;
        opacity: 0;
        transition: all 0.5s;
        visibility: hidden;

        .modal-top {
          position: relative;
          width: 100%;
          height: auto;

          .modal-close {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            padding: 10px;
            cursor: pointer;

            svg {
              fill: #fff;
            }
          }

          .modal-title {
            padding: 40px 20px 30px;

            h3 {
              text-align: center;
              color: #FED440;
              font-size: 28px;
              font-family: SFProDisplay-Bold;
              line-height: 1;
              margin-bottom: 0;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width: 70%;
                background-color: #FED440;
              }
            }
          }
        }

        .modal-bot {
          position: relative;

          .modal-text {
            text-align: center;
            margin-top: 30px;

            p {
              font-size: 20px;
              color: #fff;
              font-family: SFProDisplay-Regular;
              font-weight: 300;
              margin-bottom: 30px;
              display: flex;
              justify-content: center;

              &:last-child {
                margin-bottom: 0;
              }

              span {
                font-size: 20px;
                color: #fff;
                font-family: SFProDisplay-Regular;
                font-weight: 300;
                margin-left: 5px;
                text-align: left;
                line-height: 1.1;
              }
            }
          }
        }
      }
    }
  }

  // modal-open
  &.modal-open {
    .vct-info-tag {
      .vct-info-content {
        visibility: visible;

        .info-content-modal {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}